{% extends 'basic.html' %}
{% load static %}
    {% block body %}

    <div id="myCarousel" class="carousel slide lazy-load" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class=""></li>
            <li data-target="#myCarousel" data-slide-to="1" class=""></li>

            <li data-target="#myCarousel" data-slide-to="3" class="active"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item"><a href=" {% static 'parameter/gurgaon/covid-19-rtpcr-test' %} "
                    style="width:100%;margin:0px;"><img
                        src="https://helma.healthians.com/stationery/banners/80_5604.jpg" alt="RTPCR TEST"></a>
            </div>

            <div class="carousel-item"><a href=" {% static 'surgery' %} " style="width:100%;margin:0px;"><img
                        src="https://helma.healthians.com/stationery/banners/84_1785.jpg" alt="Surgery Banner"></a>
            </div>
            <div class="carousel-item active"><a href=" {% static 'popular-package' %} " style="width:100%;margin:0px;"><img
                        src="https://helma.healthians.com/stationery/banners/78_4194.jpeg"
                        alt="Popular Packages"></a></div>

        </div>
    </div>
    <div class="p-4 search" style="display: flex; justify-content: center;">
        <div class="search-bar">
            <div class="row">
                <input type="text" placeholder="Find your Package/Test" class="col-lg-10 col-8"><button
                    class="col-lg-2 col-4"><i class="fa fa-search"></i>&nbsp;
                    Search</button>
            </div>
            <div class="search-sub-menu">
                <div class="row">
                    <div class="col-lg-6 col-12">
                        <h5>Popular Test</h5>
                        <ul>
                            <li> CRP (C Reactive Protein) Quantitative, Serum</li>
                            <li>D-Dimer Quantitative</li>
                            <li>Covid 19 RTPCR Test</li>
                            <li>Lipid Profile</li>
                            <li>Liver Function Test</li>
                            <li>Complete Hemogram</li>
                            <li>Thyroid Profile-Total (T3, T4 & TSH Ultra-sensitive)</li>
                            <li> Kidney Function Test</li>
                            <li>Urine Routine & Microscopy</li>
                            <li>HbA1c</li>
                            <li>Blood Glucose Fasting</li>
                            <li>Vitamin B12 Cyanocobalamin</li>
                            <li> Vitamin D Total-25 Hydroxy</li>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-12">
                        <h5>Popular Test</h5>
                        <ul>
                            <li>Popular Packages</li>
                            <li>Healthy India 2021 Full Body Checkup</li>
                            <li>Healthy India 2021 Full Body Checkup With Covid IgG Antibody</li>
                            <li> Basic Screening Package 3.0</li>
                            <li>COVID-19 Antibody - IgG Test</li>
                            <li> Vitamin Screening</li>
                            <li> Basic Screening Package 4.0</li>
                            <li>Basic Screening 4.0 Package With Covid IgG Antibody</li>
                            <li>STI Detection Package</li>
                            <li>Healthians 100% Good Health Package</li>
                            <li>Basic Allergy Package</li>
                            <li>Healthians Full Body Checkup with Thyroid and CBC</li>
                            <li>Healthians Basic Health Checkup</li>
                            <li>Healthians Diabetic Checkup</li>
                            <li>HIV Preventive Package</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="first container mt-5">
        <div class="text col-lg-6 col-12">
        </div>
        <h1 class="text-center m-5" style="color: #1a9ca6; font-size: 28px;">Full Body Checkup Packages</h1>
        <div class="slides" style="display:flex; overflow-y:hidden; overflow-x: scroll;">
            {% for data in packages %}
            <div class="m-auto col-12 col-lg-3">
                <div class="card">
                    <div style="height: 350px;" class="check-up-card">
                        <span class="discount">{{data.discount}}{% if '%' not in data.discount %}₹{% endif %} off</span>
                        <h4>{{data.Package_name}}</h4>
                        Includes : {{data.Porfile_collection.count}} Parameter
                        <ul>
                            {% for profile in data.Porfile_collection.all %}
                            <li>{{profile.Profile_Name}}</a> </li>
                            {% endfor %}
                        </ul>
                        <br>
                        <b>
                            <a href="{% url "packagedetails" data.slug %}">+ Know More</a><br>
                            <del>₹{{data.Package_price}}</del>
                            ₹{{data.final_cost}}
                        </b>
                    </div>
                </div>
            </div>
            {% endfor %}
    
        </div>

        <center>
            <br><br>
            <a href=" {% static '' %} " class="services-btn m-4">View All Services</a>
        </center>
    </div>

    <div class="second">

        <div style="background: #f8f8f8;">
            <br>
            <div class="container health-card-p mt-4">
                <div class="text col-12">
                    <h1 style="color: #115278;">Health Risk</h1>
                </div>
                <div class="slides-2 " style="display:flex; overflow-x: scroll;">
                    <div class="col-12 col-lg-4 p-2">
                        <div class="health-card">
                            <img style="display: flex; align-items:center; justify-content:center;" class="m-auto"
                                src="https://helma.healthians.com/stationery/mailer-assets/5fb5067d0d7e6.png"
                                alt="Acidity">
                            <h1 class="text-center">Acidity</h1>
                            <p class="text-center">Acidity is quite a common condition; in fact it is so common that
                                most of
                                us have experienced
                                it in...</p>
                            <a href=" {% static 'pregnancy-test.html' %} ">View More</a>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 p-2">
                        <div class="health-card">
                            <img style="display: flex; align-items:center; justify-content:center;" class="m-auto"
                                src="https://helma.healthians.com/stationery/mailer-assets/5f4a5cb1be414.png"
                                alt="Allergy"></a>
                            <h1 class="text-center">Allergy</a></h1>
                            <p class="text-center">Sometimes your immune system responds acutely to foreign
                                substances
                                which
                                are usually not considered...</p>
                            <a href=" {% static 'pregnancy-test.html' %} " title="Allergy related test in Gurgaon">View
                                More</a>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 p-2">
                        <div class="health-card">
                            <img style="display: flex; align-items:center; justify-content:center;" class="m-auto"
                                src="https://helma.healthians.com/stationery/ca-assets/risk-habits-v1/Anaemia.png"
                                alt="Anaemia"></a>
                            <h1 class="text-center">Anaemia</a></h1>
                            <p class="text-center">Anaemia is a condition wherein the number of red blood cells in
                                your
                                blood is low, red blood
                                cells c...</p>
                            <a href=" {% static 'pregnancy-test.html' %} ">View More</a>
                        </div>
                    </div>

                    <div class="col-12 col-lg-4 p-2">
                        <div class="health-card">
                            <img style="display: flex; align-items:center; justify-content:center;" class="m-auto"
                                src="https://helma.healthians.com/stationery/mailer-assets/5f4a6070095f2.png"
                                alt="Arthritis"></a>
                            <h1 class="text-center">Arthritis</h1>
                            <p class="text-center">Arthritis is a condition where there is inflammation in the
                                joints,
                                it
                                can affect a certain joint or...</p>
                            <a href=" {% static 'pregnancy-test.html' %} ">View More</a>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 p-2">
                        <div class="health-card">
                            <img style="display: flex; align-items:center; justify-content:center;" class="m-auto"
                                src="https://helma.healthians.com/stationery/ca-assets/risk-habits-v1/Bone.png"
                                alt="Bone"></a>
                            <h1 class="text-center">Bone</a></h1>
                            <p class="text-center">Weak bones can cause a lot of troubles and nutrient deficiency is
                                the
                                reason. With checkup, identify...</p>
                            <a href=" {% static 'pregnancy-test.html' %} ">View More</a>
                        </div>
                    </div>

                    <div class="col-12 col-lg-4 p-2">
                        <div class="health-card">
                            <img style="display: flex; align-items:center; justify-content:center;" class="m-auto"
                                src="https://helma.healthians.com/stationery/ca-assets/risk-habits-v1/Cancer.png"
                                alt="Cancer"></a>
                            <h1 class="text-center">Cancer</a></h1>
                            <p class="text-center">Cancer is a broad term used for a group of illnesses that occur
                                when
                                abnormal cells split fast and s...</p>
                            <a href=" {% static 'pregnancy-test.html' %} ">View More</a>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 p-2">
                        <div class="health-card">
                            <img style="display: flex; align-items:center; justify-content:center;" class="m-auto"
                                src="https://helma.healthians.com/stationery/ca-assets/risk-habits-v1/Diabetes.png"
                                alt="Diabetes"></a>
                            <h1 class="text-center">Diabetes</a></h1>
                            <p class="text-center">Diabetes, medically known as diabetes mellitus is a disorder
                                where
                                the
                                blood sugar levels are high....</p>
                            <a href=" {% static 'pregnancy-test.html' %} ">View More</a>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 p-2">
                        <div class="health-card">
                            <img style="display: flex; align-items:center; justify-content:center;" class="m-auto"
                                src="https://helma.healthians.com/stationery/ca-assets/risk-habits-v1/Digestive.png"
                                alt="Digestion"></a>
                            <h1 class="text-center">Digestion</a></h1>
                            <p class="text-center">Digestion is a process whereby the food you consume is broken
                                down to
                                be
                                used as energy for all the...</p>
                            <a href=" {% static 'pregnancy-test.html' %} ">View More</a>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 p-2">
                        <div class="health-card">
                            <img style="display: flex; align-items:center; justify-content:center;" class="m-auto"
                                src="https://helma.healthians.com/stationery/mailer-assets/5f685d579110c.png"
                                alt="Fatigue"></a>
                            <h1 class="text-center">Fatigue</a></h1>
                            <p class="text-center">Fatigue can be defined as a feeling of overall tiredness or a
                                lack of
                                energy, wherein the individual...</p>
                            <a href=" {% static 'pregnancy-test.html' %} ">View More</a>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 p-2">
                        <div class="health-card">
                            <img style="display: flex; align-items:center; justify-content:center;" class="m-auto"
                                src="https://helma.healthians.com/stationery/ca-assets/risk-habits-v1/Fever.png"
                                alt="Fever"></a>
                            <h1 class="text-center"><a href=" {% static '/risk/fever-test/gurgaon' %} "
                                    title="Fever related test in Gurgaon">Fever</a></h1>
                            <p class="text-center">Fever, also known as hyperthermia or pyrexia is basically an
                                elevation in
                                the body temperature. Feve...</p>
                            <a href=" {% static '/risk/fever-test/gurgaon' %} " title="Fever related test in Gurgaon">View More</a>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 p-2">
                        <div class="health-card">
                            <img style="display: flex; align-items:center; justify-content:center;" class="m-auto"
                                src="https://helma.healthians.com/stationery/ca-assets/risk-habits-v1/Heart.png"
                                alt="Heart"></a>
                            <h1 class="text-center">Heart</a></h1>
                            <p class="text-center">Cholesterol is a waxy substance that helps your body in building
                                new
                                cells, producing hormones, and...</p>
                            <a href=" {% static 'pregnancy-test.html' %} ">View More</a>
                        </div>
                    </div>

                    <div class="col-12 col-lg-4 p-2">
                        <div class="health-card">
                            <img style="display: flex; align-items:center; justify-content:center;" class="m-auto"
                                src="https://helma.healthians.com/stationery/ca-assets/risk-habits-v1/Hepatitis.png"
                                alt="Hepatitis"></a>
                            <h1 class="text-center"><a href=" {% static '/risk/hepatitis-test/gurgaon' %} "
                                    title="Hepatitis related test in Gurgaon">Hepatitis</a>
                                class="text-center" </h1>
                            <p>Hepatitis is a medical condition where the liver gets inflamed.
                                Generally, hepatitis is caused due t...</p>
                            <a href=" {% static '/risk/hepatitis-test/gurgaon' %} " title="Hepatitis related test in Gurgaon">View
                                More</a>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 p-2">
                        <div class="health-card">
                            <img style="display: flex; align-items:center; justify-content:center;" class="m-auto"
                                src="https://helma.healthians.com/stationery/ca-assets/risk-habits-v1/Hormones.png"
                                alt="Hormones"></a>
                            <h1 class="text-center">Hormones</a></h1>
                            <p class="text-center">Hormones are the signalling molecules or chemical messenger
                                systems
                                of
                                the body that travel to diffe...</p>
                            <a href=" {% static 'pregnancy-test.html' %} ">View More</a>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 p-2">
                        <div class="health-card">
                            <img style="display: flex; align-items:center; justify-content:center;" class="m-auto"
                                src="https://helma.healthians.com/stationery/ca-assets/risk-habits-v1/Hypertension.png"
                                alt="Hypertension"></a>
                            <h1 class="text-center">Hypertension</a></h1>
                            <p class="text-center">Hypertension, more commonly known as high blood pressure is a
                                condition
                                where an individuals
                                blood p...</p>
                            <a href=" {% static 'pregnancy-test.html' %} ">View More</a>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 p-2">
                        <div class="health-card">
                            <img style="display: flex; align-items:center; justify-content:center;" class="m-auto"
                                src="https://helma.healthians.com/stationery/mailer-assets/5f4a65e1a2c56.png"
                                alt="Immunity"></a>
                            <h1 class="text-center">Immunity</a></h1>
                            <p class="text-center">The immune system is the body defence system; it is made up of
                                various
                                types of cells that are const...</p>
                            <a href=" {% static 'pregnancy-test.html' %} ">View More</a>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 p-2">
                        <div class="health-card">
                            <img style="display: flex; align-items:center; justify-content:center;" class="m-auto"
                                src="https://helma.healthians.com/stationery/ca-assets/risk-habits-v1/Infections.png"
                                alt="Infections"></a>
                            <h1 class="text-center">Infections</h1>
                            <p class="text-center">Infection is a condition wherein an organism enters your body and
                                causes
                                illness. There are many dif...</p>
                            <a href=" {% static 'pregnancy-test.html' %} ">View More</a>
                        </div>
                    </div>


                </div>
                <a href=" {% static './risk.html' %} "><button>View Now</button></a>
                <br>
            </div>
        </div>
        <div class="container health-card-p mt-5">
            <div class="text col-12">
                <h1 style="color:#115278;">Habits</h1>
            </div>
            <div class="slides-3" style="display:flex; overflow-x: scroll;">
                <div class="col-12 col-lg-4 p-2">
                    <div class="habit-card">
                        <img src="https://helma.healthians.com/stationery/ca-assets/risk-habits-v1/Alcoholism.png"
                            alt="Alcoholism"></a>
                        <h3>Alcoholism</a></h3>
                        <p>Alcoholism is a condition wherein an individual becomes dependent or addicted to
                            alcohol. Alcohol ab...</p>
                        <a href=" {% static '' %} ">View More</a>

                    </div>
                </div>
                <div class="col-12 col-lg-4 p-2">
                    <div class="habit-card">
                        <img src="https://helma.healthians.com/stationery/ca-assets/risk-habits-v1/Anger.png"
                            alt="Anger"></a>
                        <h3>Anger</a></h3>
                        <p>Anger can put the health of your heart at risk. With regular tests manage your anger
                            and live a long...</p>
                        <a href=" {% static '' %} " class="viewriskhabit">View More</a>

                    </div>
                </div>
                <div class="col-12 col-lg-4 p-2">
                    <div class="habit-card">
                        <img src="https://helma.healthians.com/stationery/ca-assets/risk-habits-v1/Eating_Poorly.png"
                            alt="Eating Poorly"></a>
                        <h3>Eating Poorly</a></h3>
                        <p>Due to poor eating habits, we are prone to a lot of diseases. Health tests are
                            important to identify...</p>
                        <a href=" {% static '' %} ">View More</a>

                    </div>
                </div>
                <div class="col-12 col-lg-4 p-2">
                    <div class="habit-card">
                        <img src="https://helma.healthians.com/stationery/ca-assets/risk-habits-v1/Heartburn.png"
                            alt="Heartburn"></a>
                        <h3>Heartburn</a></h3>
                        <p>Indigestion can lead to heartburn and it can develop into serious health
                            complications. With regular...</p>
                        <a href=" {% static '' %} ">View More</a>

                    </div>
                </div>
                <div class="col-12 col-lg-4 p-2">
                    <div class="habit-card">
                        <img src="https://helma.healthians.com/stationery/ca-assets/risk-habits-v1/Junk_Food.png"
                            alt="Junk Food"></a>
                        <h3>Junk Food</a></h3>
                        <p>Junk food lacks the nutrients needed by our body and can cause diseases. Test and
                            find out if you ha...</p>
                        <a href=" {% static '' %} ">View More</a>

                    </div>
                </div>
                <div class="col-12 col-lg-4 p-2">
                    <div class="habit-card">
                        <img src="https://helma.healthians.com/stationery/ca-assets/risk-habits-v1/Low_Iron_Diet.png"
                            alt="Low Iron Diet"></a>
                        <h3>Low Iron Diet</a></h3>
                        <p>Iron is the reason of our healthy red blood cells and lack of it can have severe
                            impact on the healt...</p>
                        <a href=" {% static '' %} ">View More</a>

                    </div>
                </div>
                <div class="col-12 col-lg-4 p-2">
                    <div class="habit-card">
                        <img src="https://helma.healthians.com/stationery/ca-assets/risk-habits-v1/Overuse_Medications.png"
                            alt="Medicine Overuse"></a>
                        <h3>Medicine Overuse</a></h3>
                        <p>Most of us have at some time or the other taken pills or medicines without a
                            prescription, sometimes...</p>
                        <a href=" {% static '' %} " class="viewriskhabit">View More</a>

                    </div>
                </div>
                <div class="col-12 col-lg-4 p-2">
                    <div class="habit-card">
                        <img src="https://helma.healthians.com/stationery/ca-assets/risk-habits-v1/Por_Nutrition.png"
                            alt="Poor Nutrition"></a>
                        <h3>Poor Nutrition</a></h3>
                        <p>The body requires a large variety of nutrients to function properly, grow, and fight
                            disease. Nutrie...</p>
                        <a href=" {% static '' %} ">View More</a>

                    </div>
                </div>
                <div class="col-12 col-lg-4 p-2">
                    <div class="habit-card">
                        <img src="https://helma.healthians.com/stationery/ca-assets/risk-habits-v1/Sleeplessness.png"
                            alt="Sleeplessness"></a>
                        <h3>Sleeplessness</a></h3>
                        <p>Good quality sleep is one of the most important factors of good health. While usually
                            people ignore...</p>
                        <a href=" {% static '' %} ">View More</a>

                    </div>
                </div>
                <div class="col-12 col-lg-4 p-2">
                    <div class="habit-card">
                        <img src="https://helma.healthians.com/stationery/ca-assets/risk-habits-v1/Smoking.png"
                            alt="Smoking"></a>
                        <h3>Smoking</a>
                        </h3>
                        <p>Smoking tobacco is an extremely unhealthy habit that can have serious consequences on
                            one\'s health....</p>
                        <a href=" {% static '' %} ">View More</a>

                    </div>
                </div>
                <div class="col-12 col-lg-4 p-2">
                    <div class="habit-card">
                        <img src="https://helma.healthians.com/stationery/ca-assets/risk-habits-v1/Stress.png"
                            alt="Stress"></a>
                        <h3>Stress</a>
                        </h3>
                        <p>Stress, a condition that has become increasingly common in recent decades, is
                            attributed as the reas...</p>
                        <a href=" {% static '' %} ">View More</a>

                    </div>
                </div>
                <div class="col-12 col-lg-4 p-2">
                    <div class="habit-card">
                        <img src="https://helma.healthians.com/stationery/ca-assets/risk-habits-v1/Zero_Exercise.png"
                            alt="Zero Exercise"></a>
                        <h3>Zero Exercise</a></h3>
                        <p>Lack of physical activity or exercise is considered one of the leading causes of
                            chronic illnesses....</p>
                        <a href=" {% static '' %} ">View More</a>
                    </div>
                </div>
            </div>
            <br>
            <a href=" {% static './risk.html' %} "><button>View Now</button></a>

        </div>

    </div>
    <br><br>
    <div class="choose-us container">
        <div class="heading text-center my-4">
            <h3 class="my-4" style="color: #1a9ca6;">Why choose SEQUEL</h3 class="mb-4">
        </div>
        <div class="row">
            <div class="col-2">
                <div class="cards">
                    <div class="d-flex justify-content-center">
                        <i style="font-size: 30px; color: #f37d2699 ;  font-weight: bold;">01</i>
                        <img src=" {% static 'images/icon1.png' %} " alt="" class="m-auto">
                    </div>
                    <p>Free & On-time
                        Sample Collection</p>
                </div>
            </div>
            <div class="col-2">
                <div class="cards">
                    <div class="d-flex justify-content-center">
                        <i style="font-size: 30px;  color: #f37d2699 ;  font-weight: bold;">02</i>
                        <img src=" {% static 'images/icon2.png' %} " alt="" class="m-auto">
                    </div>
                    <p>Free & On-time
                        Sample Collection</p>
                </div>
            </div>
            <div class="col-2">
                <div class="cards">
                    <div class="d-flex justify-content-center">
                        <i style="font-size: 30px;  color: #f37d2699 ;  font-weight: bold;">03</i>
                        <img src=" {% static 'images/icon3.png' %} " alt="" class="m-auto">
                    </div>
                    <p>Free & On-time
                        Sample Collection</p>
                </div>
            </div>
            <div class="col-2">
                <div class="cards">
                    <div class="d-flex justify-content-center">
                        <i style="font-size: 30px;  color: #f37d2699 ;  font-weight: bold;">04</i>
                        <img src=" {% static 'images/icon4.png' %} " alt="" class="m-auto">
                    </div>
                    <p>Free & On-time
                        Sample Collection</p>
                </div>
            </div>
            <div class="col-2">
                <div class="cards">
                    <div class="d-flex justify-content-center">
                        <i style="font-size: 30px;  color: #f37d2699 ;  font-weight: bold;">05</i>
                        <img src=" {% static 'images/icon5.png' %} " alt="" class="m-auto">
                    </div>
                    <p>Free & On-time
                        Sample Collection</p>
                </div>
            </div>
            <div class="col-2">
                <div class="cards">
                    <div class="d-flex justify-content-center">
                        <i style="font-size: 30px;  color: #f37d2699 ;  font-weight: bold;">06</i>
                        <img src=" {% static 'images/icon6.png' %} " alt="" class="m-auto">
                    </div>
                    <p>Free & On-time
                        Sample Collection</p>
                </div>
            </div>

        </div>

    </div>


    <div class="labs px-lg-5 px-1 my-5" style="background: #00a0a8; padding: 40px 0;">
        <div class="container">
            <div class="heading text-center">
                <h3 style="color: #fff;">The Excellence of <span style="color: #fcbe57;">Healthians Labs</span>
                </h3>
            </div>
            <div class="row text-light py-5">
                <div class="col-lg-7">
                    <p>
                        Healthians is one of the most trusted players in diagnostics today, with a network of fully
                        automated labs across major cities in India, that are hardcoded with innovative technology,
                        advanced robotics and intelligent digital solutions.
                    </p>
                    <p>
                        With an extensive team of highly qualified lab technicians and pathologists, our
                        single-minded
                        purpose is to follow the strictest of quality measures to maintain accuracy for each test we
                        perform.
                    </p>
                    <a href=" {% static '' %} "
                        style=" border-radius: 20px;   background-color: #f27d27;padding: 10px 20px;color: #fff;float: left; margin-bottom: 35px;"
                        class="orange-btn">Know More</a>
                </div>
                <div class="col-5">
                    <img src=" {% static 'images/video-healthians-lab_2.png' %} " alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>

    <div class="customer-speaks container">
        <div class="heading text-center my-4">
            <h3 style="color:#1a9ca6;">Customer Speak</h3>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="g_playreview">
                    <h6 style="color: #f27d27;">Dhiruji</h6>
                    <div class="stars">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <p>Very satisfied with the sample collection procedure. Representative was quite professional
                        and
                        skillful.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="g_playreview" style="transform:scale(1.1)">
                    <h6 style="color: #f27d27">Revindra</h6>
                    <div class="stars">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <p>Very satisfied with the sample collection procedure. Representative was quite professional
                        and
                        skillful.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="g_playreview">
                    <h6 style="color: #f27d27;">Mukesh</h6>
                    <div class="stars">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <p>Very satisfied with the sample collection procedure. Representative was quite professional
                        and
                        skillful.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="risk-page">
        <div class="fifth  container">
            <h3>OUR POPULAR TESTS & PACKAGES</h3>
            <p>Allergy Testing in Gurgaon, Amylase Test in Gurgaon, Anemia Test in Gurgaon, Anti Hcv Test in
                Gurgaon, Arthritis Test in Gurgaon, Blood Test For Fever in Gurgaon, Ca125 Test in Gurgaon, CBC Test
                in Gurgaon, Cholesterol Test in Gurgaon, Dengue Test in Gurgaon, Diabetes Test in Gurgaon, Full Body
                Checkup in Gurgaon, HbA1c Test in Gurgaon, HbsAg Test in Gurgaon, Hepatitis B Test in Gurgaon, HIV
                Test in Gurgaon, Hormone Test in Gurgaon, Immunity Test in Gurgaon, Iron Studies Test in Gurgaon,
                Kidney Function Test in Gurgaon, Lipid Profile Test in Gurgaon, Liver Function Test in Gurgaon,
                Malaria Test in Gurgaon, Pancreatitis Test in Gurgaon, PCOS Test in Gurgaon, Pregnancy Tests in
                Gurgaon, Pregnancy Checkup in Gurgaon, PSA Test in Gurgaon, STD Test in Gurgaon, Stool Test in
                Gurgaon, Sugar Test in Gurgaon, Thyroid Test in Gurgaon, Typhoid Test in Gurgaon, Uric Acid Test in
                Gurgaon, Urine Test in Gurgaon, Vitamin B12 Test in Gurgaon, Vitamin D Test in Gurgaon, Vitamin Test
                in Gurgaon</p>
        </div>
        <hr>
        <div class="fifth  container">
            <h3>BROWSE TEST BY RISKS</h3>
            <p>Acidity / Allergy / Anaemia / Arthritis / Bone / Cancer / Diabetes / Digestion / Fatigue / Fever /
                Heart
                / Hepatitis / Hormones / Hypertension / Immunity / Infections / Jaundice / Joints / Kidney / Liver /
                Obesity / Pregnancy / STD / Thyroid / Vitamins</p>
        </div>
        <hr>
        <div class="fifth  container">
            <h3>BROWSE TEST BY HABITS</h3>
            <p>Alcoholism / Anger / Eating Poorly / Heartburn / Junk Food / Low Iron Diet / Medicine Overuse / Poor
                Nutrition / Sleeplessness / Smoking / Stress / Zero Exercise
            </p>
        </div>
        <hr>
        <div class="fifth  container">
            <h3> BROWSE SURGERIES</h3>
            <p>Piles Surgery / Anal Fistula Surgery / Anal Fissure Surgery / Pilonidal Sinus Surgery / Gallstones
                Surgery</p>
        </div>
        <hr>
    </div>
</div>
    {% endblock %}