{% extends 'basic.html' %}
{% load static %}
    {% block body %}

    <div id="myCarousel" class="carousel slide lazy-load" data-ride="carousel">
        <ol class="carousel-indicators">
            {% for data in sliders %}
            <li data-target="#myCarousel" data-slide-to="{{forloop.counter}}" class=""></li>
            {% endfor %}
        </ol>
        <div class="carousel-inner">
            {% for data in sliders %}
            <div class="carousel-item {% if forloop.counter ==  1 %}active{% endif %}"><a href=" {{data.url}} "
                    style="width:100%;margin:0px;"><img
                        src="/media/{{data.img}}" alt="{{data.name}}"></a>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="p-4 search" style="display: flex; justify-content: center;">
        <div class="search-bar">
                <form method="get" class="row" action="{% url 'search' %}">
                <input name="q" type="text" placeholder="Find your Package/Test" class="col-lg-10 col-8"><button
                    class="col-lg-2 col-4"><i class="fa fa-search"></i>&nbsp;
                    Search</button>
                </form>
            <!-- <div class="search-sub-menu">
                <div class="row">
                    <div class="col-lg-6 col-12">
                        <h5>Popular Test</h5>
                        <ul>
                            <li> CRP (C Reactive Protein) Quantitative, Serum</li>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-12">
                        <h5>Popular Test</h5>
                        <ul>
                            <li>Popular Packages</li>
                            <li>Healthy India 2021 Full Body Checkup</li>
                            <li>Healthy India 2021 Full Body Checkup With Covid IgG Antibody</li>
                            <li> Basic Screening Package 3.0</li>
                            <li>COVID-19 Antibody - IgG Test</li>
                            <li> Vitamin Screening</li>
                            <li> Basic Screening Package 4.0</li>
                            <li>Basic Screening 4.0 Package With Covid IgG Antibody</li>
                            <li>STI Detection Package</li>
                            <li>Sequal diagnosis 100% Good Health Package</li>
                            <li>Basic Allergy Package</li>
                            <li>Sequal diagnosis Full Body Checkup with Thyroid and CBC</li>
                            <li>Sequal diagnosis Basic Health Checkup</li>
                            <li>Sequal diagnosis Diabetic Checkup</li>
                            <li>HIV Preventive Package</li>
                        </ul>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
    <div class="first container mt-5">
        <div class="text col-lg-6 col-12">
        </div>
        <h1 class="text-center m-5" style="color: #c7250f; font-size: 28px;">Full Body Checkup Packages</h1>
        <div class="slides" style="display:flex; overflow-y:hidden; overflow-x: scroll;">
            {% for data in packages %}
            
            {% include 'package/component/packageItem.html' with data=data %}
            {% endfor %}
    
        </div>

        <!-- <center>
            <br><br>
            <a href=" {% static '' %} " class="services-btn m-4">View All Services</a>
        </center> -->
    </div>

    <div class="second">
        {% for data in categorys %}
        <div style="background: {% if forloop.counter|divisibleby:2 %} #f8f8f8;{% else %}#ffe2e2;{% endif %}">
            <br>
            <div class="container health-card-p mt-4">
                <div class="text col-12">
                    <h1 style="color: #115278;">{{data.name}} Packages</h1>
                </div>
                <div class="slides-2 " style="display:flex; overflow-x: scroll;">
                    {% for da in data.subcategory.all %}
                    <div class="col-12 col-lg-4 p-2">
                        <div class="health-card">
                            <img style="display: flex; align-items:center; justify-content:center;" class="m-auto"
                                src="{{da.logo.url}}"
                                alt="Acidity">
                            <h1 class="text-center">{{da.name}}</h1>
                            <p class="text-center">{{da.shortdes|slice:":40"}}</p>
                            <a href=" {% url 'getbysubcategory' da.slug %} ">View More</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <a href=" {% url 'getbycategory' data.slug %} "><button>View Now</button></a>
                <br>
            </div>
        </div>
      {% endfor %}

    </div>
    <br><br>
    <div class="choose-us container">
        <div class="heading text-center my-4">
            <h3 class="my-4" style="color: #ed1b24;">Why choose SEQUEL</h3 class="mb-4">
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="cards">
                    <div class="d-flex justify-content-center">
                        <img src="/static/images/why choose sequel.jpg" alt="why choose sequal" srcset="">
                    </div>
                </div>
            </div>
           

        </div> 
       
    </div>


    <div class="labs px-lg-5 px-1 my-5" style="background: #ed1b24; padding: 40px 0;">
        <div class="container">
            <div class="heading text-center">
                <h3 style="color: #fff;">The Excellence of <span style="color: #fcbe57;">Sequal diagnosis Labs</span>
                </h3>
            </div>
            <div class="row text-light py-5">
                <div class="col-lg-7">
                    <p>
                        Sequal diagnosis is one of the most trusted players in diagnostics today, with a network of fully
                        automated labs across major cities in India, that are hardcoded with innovative technology,
                        advanced robotics and intelligent digital solutions.
                    </p>
                    <p>
                        With an extensive team of highly qualified lab technicians and pathologists, our
                        single-minded
                        purpose is to follow the strictest of quality measures to maintain accuracy for each test we
                        perform.
                    </p>
                    <a href=" {% static '' %} "
                        style=" border-radius: 20px;   background-color: #f27d27;padding: 10px 20px;color: #fff;float: left; margin-bottom: 35px;"
                        class="orange-btn">Know More</a>
                </div>
                <div class="col-5">
                    <img src=" {% static 'images/p0-about-thumb-story.webp' %} " alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>

    <div class="customer-speaks container">
        <div class="heading text-center my-4">
            <h3 style="color:#ed1b24;">Customer Speak</h3>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="g_playreview">
                    <h6 style="color: #f27d27;">Dhiruji</h6>
                    <div class="stars">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <p>Very satisfied with the sample collection procedure. Representative was quite professional
                        and
                        skillful.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="g_playreview" style="transform:scale(1.1)">
                    <h6 style="color: #f27d27">Revindra</h6>
                    <div class="stars">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <p>Very satisfied with the sample collection procedure. Representative was quite professional
                        and
                        skillful.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="g_playreview">
                    <h6 style="color: #f27d27;">Mukesh</h6>
                    <div class="stars">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <p>Very satisfied with the sample collection procedure. Representative was quite professional
                        and
                        skillful.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="risk-page">
        <div class="fifth  container">
            <h3>OUR POPULAR TESTS & PACKAGES</h3>
            <p>Allergy Testing in Gurgaon, Amylase Test in Gurgaon, Anemia Test in Gurgaon, Anti Hcv Test in
                Gurgaon, Arthritis Test in Gurgaon, Blood Test For Fever in Gurgaon, Ca125 Test in Gurgaon, CBC Test
                in Gurgaon, Cholesterol Test in Gurgaon, Dengue Test in Gurgaon, Diabetes Test in Gurgaon, Full Body
                Checkup in Gurgaon, HbA1c Test in Gurgaon, HbsAg Test in Gurgaon, Hepatitis B Test in Gurgaon, HIV
                Test in Gurgaon, Hormone Test in Gurgaon, Immunity Test in Gurgaon, Iron Studies Test in Gurgaon,
                Kidney Function Test in Gurgaon, Lipid Profile Test in Gurgaon, Liver Function Test in Gurgaon,
                Malaria Test in Gurgaon, Pancreatitis Test in Gurgaon, PCOS Test in Gurgaon, Pregnancy Tests in
                Gurgaon, Pregnancy Checkup in Gurgaon, PSA Test in Gurgaon, STD Test in Gurgaon, Stool Test in
                Gurgaon, Sugar Test in Gurgaon, Thyroid Test in Gurgaon, Typhoid Test in Gurgaon, Uric Acid Test in
                Gurgaon, Urine Test in Gurgaon, Vitamin B12 Test in Gurgaon, Vitamin D Test in Gurgaon, Vitamin Test
                in Gurgaon</p>
        </div>
        <hr>
        <div class="fifth  container">
            <h3>BROWSE TEST BY RISKS</h3>
            <p>Acidity / Allergy / Anaemia / Arthritis / Bone / Cancer / Diabetes / Digestion / Fatigue / Fever /
                Heart
                / Hepatitis / Hormones / Hypertension / Immunity / Infections / Jaundice / Joints / Kidney / Liver /
                Obesity / Pregnancy / STD / Thyroid / Vitamins</p>
        </div>
        <hr>
        <div class="fifth  container">
            <h3>BROWSE TEST BY HABITS</h3>
            <p>Alcoholism / Anger / Eating Poorly / Heartburn / Junk Food / Low Iron Diet / Medicine Overuse / Poor
                Nutrition / Sleeplessness / Smoking / Stress / Zero Exercise
            </p>
        </div>
        <hr>
        <div class="fifth  container">
            <h3> BROWSE SURGERIES</h3>
            <p>Piles Surgery / Anal Fistula Surgery / Anal Fissure Surgery / Pilonidal Sinus Surgery / Gallstones
                Surgery</p>
        </div>
        <hr>
    </div> -->
</div>
    {% endblock %}

    {% block basicscript %}
    <script>
        offset = 0;
        setInterval(() => {
            offset = offset + 0.2;
            document.querySelector(".slides").scrollTo(offset, 0);
        }, 10);
        AOS.init();
        $(document).ready(function () {
            $('.toggler').click(function () {
                $(this).siblings().removeClass("active");
                $(this).toggleClass("active");
    
            })
    
        });
    </script>
    {% endblock %}