
{% extends 'UserData/user/userbasic.html' %}
{% block user %}

<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 shubham edit-input">
    <div class="Family-headingdiv text-left">
        <h3>Edit Profile</h3>	
    </div>
    <div class="Retake-Healthkarmadiv">
    
        <div class="">
            <div class="profile-details">
                <div id="user_image_name_div">
                                                        <div class="user-name-div">
                            T

                            <a href="javascript:void(0)" class="btn btn-info penciledit" onclick="document.getElementById('my_pics').click();"> <i class="fa fa-camera" aria-hidden="true"></i> </a>

                        </div>
                                                </div>                               
               
                <div class="user-profile-details">
                    <h3>Hi, <span id="display_profile_head_name">Test</span></h3>
                    <p>test@gmail.com</p>
                    <a href="javascript:void(0);" class="btn btn-danger" onclick="displayEditProfile();" id="edit_profile_link">Edit Profile</a>
                </div>
            </div>
            <br>	
            

            <form id="update_pic_form" name="update_pic_form" enctype="multipart/form-data">
                <input type="hidden" name="_token" value="32n1wyhUhQ84z0mHUsMRZT3JcXZZj8WVOSKsWZGn">
                <input type="file" name="my_pics" id="my_pics">
            </form>

            <div class="user-form" id="profile_display_info">
                <div class="alert alert-success" id="profile_success_div" style="display:none;"></div>    
                <div class="lft-f-details">
                    <div>
                        <h6>Name</h6>
                        <p id="display_profile_name">test</p>
                    </div>
                    <div>
                        <h6>Email Id</h6>
                        <p>test@gmail.com</p>
                    </div>
                    <div>
                        <h6>Age</h6>
                        <p id="display_profile_age">30</p>
                    </div>
                </div>

                <div class="rgt-f-details">
                    <div>
                        <h6>Mobile Number</h6>
                        <p>9090974785</p>
                    </div>
                    <div>
                        <h6>Gender</h6>
                        <p id="display_profile_gender">
                                                                        <span><img src="/static/images/male.png" alt="Image"> Male</span>
                                                                </p>
                    </div>
                    <div>
                        <h6>Date of Birth</h6>
                        <p>
                            <span id="display_profile_dob">
                                                                                17-01-1992                                        
                                                                        </span>
                            <img class="pull-right" src="/static/images/calender-icon.png" alt="images">
                        </p>
                    </div>
                    
                </div>
            </div>

            <div class="user-form" id="edit_profile_div" style="display:none;">
                <form id="edit_profile_form" name="edit_profile_form" method="post" novalidate="novalidate">
                    <input type="hidden" name="_token" value="32n1wyhUhQ84z0mHUsMRZT3JcXZZj8WVOSKsWZGn">
                    
                    <div class="alert alert-danger" id="profile_error_div" style="display:none;"></div>

                    <div class="lft-f-details">
                        <div>
                            <h6>Name</h6>
                            <input type="text" placeholder="Enter Name" name="name" id="name" value="test" tabindex="1" maxlength="512" required="" autocomplete="off">
                        </div>
                        <div>
                            <h6>Email Id</h6>
                            <input type="email" value="test@gmail.com" disabled="disabled">
                        </div>
                        <div>
                            <h6>Age</h6>
                            <input type="text" placeholder="Enter Age" id="age" name="age" tabindex="4" value="30" maxlength="3" required="" autocomplete="off">
                        </div>								
                    </div>

                    <div class="rgt-f-details">
                        <div>
                            <h6>Mobile Number</h6>
                            <input type="text" value="9090974785" disabled="disabled">
                        </div>


                        <div>
                            <h6>Gender</h6>

                              <div class="genderblock">
                                        <div class="gend_left">

                                    <ul>
                                        <li>
                                                                                                <input id="checkbox6" name="gender" type="radio" checked="checked" value="M" tabindex="2">
                                                                                            <label for="checkbox6">Male  </label>
                                    </li>


                                    <li>
                                                                                                <input id="checkbox7" name="gender" type="radio" value="F" tabindex="3">
                                        
                                    <label for="checkbox7">Female  </label>
                                </li>
                            </ul>
                        </div>
                    </div>



                        </div>

                        <div class="clearfix"></div>



                        <div class="dobmyprofile">
                            <h6>Date Of Birth</h6>								
                            <input value="17-01-1992" id="dob" name="dob" tabindex="5" placeholder="Date Of Birth *" readonly="" required="">
                        </div>
                    </div>
                    
                    <div class="center-bnt">
                        <a href="javascript:void(0);" class="btn btn-default btn_whtcolor" onclick="displayProfileInfo();">Cancel</a>
                        <button type="submit" class="btn btn-danger btn_cmncolor">Update Profile</button>
                    </div>
                </form>

            </div>

            
            
        </div>

        

        

    </div>	
</div>

<script>
    function displayEditProfile() {
        $("#edit_profile_div").show();
        $("#profile_display_info").hide();
        $("#edit_profile_link").hide();
    }

    function displayProfileInfo() {
        $("#edit_profile_div").hide();
        $("#profile_display_info").show();
        $("#edit_profile_link").show();
    }
</script>
{% endblock %}
