{% load static %}
<footer class='p-5'>
    <div class="row">
        <div class="col-lg-3">
            <div class="logo">
                <img src="{{aboutdata.logo.url}}" alt="">
                <h4> AWARDS & RECOGNITIONS</h4>
                <img src=" {% static 'images/other-logos.png' %} " alt="">
            </div>
        </div>
        <div class="col-lg-6 links">
            <ul>
                <li><a href=" {% static '' %} ">About Us</a></li>
                <li><a href=" {% static '' %} ">Our Labs</a></li>
                <li><a href=" {% static '' %} ">Media</a></li>
                <li><a href=" {% static '' %} ">Contact Us</a></li>
                <li><a href=" {% static '' %} ">Career</a></li>
                <li><a href=" {% static '' %} ">Blog</a></li>
                <li><a href=" {% static '' %} ">Money Back</a></li>
                <li><a href=" {% static '' %} ">Policy</a></li>
                <li><a href=" {% static '' %} ">Investors</a></li>
                <li><a href=" {% static '' %} ">Feedback/Complaints</a></li>
                <li><a href=" {% static '' %} ">Full Body Checkup</a></li>
                <li><a href=" {% static '' %} ">Our Partner</a></li>
            </ul>
        </div>
        <div class="col-lg-3">
            <div class="social-ico">
                <div class="icon">
                    <i class="fa fa-facebook"></i>
                </div>
                <div class="icon">
                    <i class="fa fa-youtube"></i>
                </div>
                <div class="icon">
                    <i class="fa fa-linkedin"></i>
                </div>
                <div class="icon">
                    <i class="fa fa-twitter"></i>
                </div>
                <div class="icon">
                    <i class="fa fa-instagram"></i>
                </div>

            </div>
        </div>
    </div>
</footer>

