{% load static %}
{% load loadheader %}
{% with ''|getContact as contactdata %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css">
<style>
   
</style>
        <header style="padding: 20px 0px">
            <div class="navbar">
                <div class="logo"><a href="{% url 'index' %}"><img src="{{aboutdata.logo.url}} " alt="" class="logo"></a></div>
                <nav>
                    <div class="top">
                        <ul>
                            {% if user.is_authenticated %}
                            <li class="dropdown dropdown-toggle"><a type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Welcome {{request.user.first_name|title}} <i class="fa fa-user"></i></a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="{% url "userdashboard" %}">Dashboard</a>
                                    <a class="dropdown-item" href="{% url "profile" %}">Profile</a>
                                    <a class="dropdown-item" href="{% url "booking" %}">My Bookings</a>
                                    <a class="dropdown-item" href="{% url "report" %}">My Reports</a>
                                    <a class="dropdown-item" href="{% url "family" %}">My Family &amp; Friends</a>
                                    <a class="dropdown-item" href="{% url "address" %}">Manage Addresses</a>
                                    <a class="dropdown-item" href="{% url "logoutuser" %}">Sign-Out</a>
                                </div>
                            </li>
                            
                            {% else %}
                            <li><a href=" {% url 'userlogin' %} ">Login/Sign up <i class="fa fa-user"></i></a></li>
                            {% endif %}
                            <li><a href="tel:{{contactdata.0.helpline}}">Help line:{{contactdata.0.helpline}}</a> <i class="fa fa-phone"></i></li>

                        </ul>
                    </div>
                    <div class="bottom">
                        <ul>
                            <li class="sub-menu"><a href="#">Popular Packages</a>
                                <ul class="drop-down">
                                    <div class="row">
                                        {% for range in ""|popularpackage|getrange %}
                                        <div class="col-lg-12 col-12">
                                            {% for  mdata in ""|popularpackage|slice:range %}
                                            <li><a href="{% url 'packagedetails' mdata.slug %}">{{mdata.Package_name}}</a></li>
                                            {% endfor %}
                                        </div>
                                        {% endfor %}
                                    </div>
                                </ul>
                            </li>
                            {% for data in ""|getcategory %}
                            <li class="sub-menu"><a href="#">{{data.name}}</a>
                                <ul class="drop-down">
                                    <div class="row">
                                        {% for range in data.subcategory.all|getrange %}
                                        <div class="col-lg-6 col-12">
                                            {% for  mdata in data.subcategory.all|slice:range %}
                                            <li><a href="{% url 'getbysubcategory' mdata.slug %}">{{mdata.name}}</a></li>
                                            {% endfor %}
                                        </div>
                                        {% endfor %}
                                    </div>
                                </ul>
                            </li>
                            {% endfor %}
                           
                            <!-- <li><a href=" # ">Faqs</a></li> -->
                            <li><a href="{% url 'contact' %}">Contact Us</a></li>
                            <li style="margin-right: 0;"><a href=" # "><button onclick="window.location='{% url "uploadprescription" %}'" class="ml-2"><i
                                            class="text-light fa fa-upload"></i>Upload Prescription</button></a></li>
                        </ul>
                    </div>
                </nav>
                <div class="toggle-btn text-light">
                    <i class="fa fa-bars"></i>
                </div>
            </div>
        </header>
        {% for message in messages %}
        <div class="alert alert-{{message.tags}} alert-dismissible fade show in" role="alert">
            {{message|safe}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endfor %}
    {% endwith %}