{% load static %}
        <header>
            <div class="navbar">
                <div class="logo"><a href="{% url 'index' %}"><img src="{{aboutdata.logo.url}} " alt="" class="logo"></a></div>
                <nav>
                    <div class="top">
                        <ul>
                            {% if user.is_authenticated %}
                            <li class="dropdown dropdown-toggle"><a type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Welcome {{request.user.first_name}} <i class="fa fa-user"></i></a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="{% url "userdashboard" %}">Dashboard</a>
                                    <a class="dropdown-item" href="{% url "profile" %}">Profile</a>
                                    <a class="dropdown-item" href="{% url "booking" %}">My Bookings</a>
                                    <a class="dropdown-item" href="{% url "report" %}">My Reports</a>
                                    <a class="dropdown-item" href="{% url "family" %}">My Family &amp; Friends</a>
                                    <a class="dropdown-item" href="{% url "address" %}">Manage Addresses</a>
                                    <a class="dropdown-item" href="{% url "logoutuser" %}">Sign-Out</a>
                                  </div>
                            </li>
                            
                            {% else %}
                            <li><a href=" {% url 'userlogin' %} ">Login/Sign up <i class="fa fa-user"></i></a></li>
                            {% endif %}
                            <li><a href="#">Gurugon <i class="fa fa-map-marker"></i></a></li>
                            <li><a href=" {% static 'tel:+919199944099' %} ">+91 9199944099</a>/<a href="tel:+919584584587">+91
                                    9584584587 <i class="fa fa-phone"></i></a></li>

                        </ul>
                    </div>
                    <div class="bottom">
                        <ul>
                            <li class="sub-menu"><a href="#">Surgery</a>
                                <ul class="drop-down">
                                    <div class="row">
                                        <div class="col-lg-6 col-12">
                                            <li><a href=" {% static 'surgery.html' %} ">Piles Surgery</a></li>

                                            <li><a href=" {% static 'surgery.html' %} ">Anal Fistula Surgery</a></li>

                                            <li><a href=" {% static 'surgery.html' %} ">Anal Fissure Surgery</a></li>
                                        </div>
                                        <div class="col-lg-6 col-12">

                                            <li><a href=" {% static 'surgery.html' %} ">Pilonidal Sinus Surgery</a></li>

                                            <li><a href=" {% static 'surgery.html' %} ">Gallstones Surgery</a></li>
                                        </div>
                                    </div>
                                </ul>
                            </li>

                            <li class="sub-menu"><a href="#">Popular Packages</a>
                                <ul class="drop-down">
                                    <div class="row">
                                        <div class="col-lg-6 col-12">
                                            <li><a href=" {% static 'pregnancy-test.html' %} ">Pregnancy Checkup</a></li>
                                            <li><a href=" {% static 'pregnancy-test.html' %} ">Arthritis Test</a></li>
                                            <li><a href=" {% static 'pregnancy-test.html' %} ">Thyroid Test</a></li>
                                            <li><a href=" {% static 'pregnancy-test.html' %} ">HbA1c Test</a></li>
                                            <li><a href=" {% static 'pregnancy-test.html' %} ">PSA Test</a></li>
                                        </div>
                                        <div class="col-lg-6 col-12">
                                            <li><a href=" {% static 'pregnancy-test.html' %} ">Uric Acid Test</a></li>
                                            <li><a href=" {% static 'pregnancy-test.html' %} ">Pancreatitis Test</a></li>
                                            <li><a href=" {% static 'pregnancy-test.html' %} ">STD Test</a></li>
                                            <li><a href=" {% static 'pregnancy-test.html' %} ">Ca125 Test</a></li>
                                            <li><a href=" {% static 'pregnancy-test.html' %} ">Vitamin B12 Test</a></li>
                                        </div>
                                    </div>
                                </ul>
                            </li>
                            <li class="sub-menu"><a href="#">Risk</a>
                                <ul class="drop-down">
                                    <div class="row">
                                        <div class="col-6">
                                            <li><a href=" {% static 'risk.html' %} ">Alcoholism</a></li>
                                            <li><a href=" {% static 'risk.html' %} ">Anger</a></li>
                                            <li><a href=" {% static 'risk.html' %} ">Eating Poorly</a></li>
                                            <li><a href=" {% static 'risk.html' %} ">Heartburn</a></li>
                                            <li><a href=" {% static 'risk.html' %} ">Junk Food</a></li>
                                            <li><a href=" {% static 'risk.html' %} ">Low Iron Diet</a></li>
                                        </div>
                                        <div class="col-6">
                                            <li><a href=" {% static 'risk.html' %} ">Medicine Overuse</a></li>
                                            <li><a href=" {% static 'risk.html' %} ">Poor Nutrition</a></li>
                                            <li><a href=" {% static 'risk.html' %} ">Sleeplessness</a></li>
                                            <li><a href=" {% static 'risk.html' %} ">Smoking</a></li>
                                            <li><a href=" {% static 'risk.html' %} ">Stress</a></li>
                                            <li><a href=" {% static 'risk.html' %} ">Zero Exercise</a></li>
                                        </div>
                                </ul>
                            </li>
                            <li class="sub-menu"><a href="#">Habit</a>
                                <ul class="drop-down  width-230">
                                    <div class="row">
                                        <div class="col-lg-6 col-12">
                                            <li><a href=" {% static 'risk.html' %} ">Acidity</a></li>
                                            <li><a href=" {% static 'risk.html' %} ">Allergy</a></li>
                                            <li><a href=" {% static 'risk.html' %} ">Anaemia</a></li>
                                            <li><a href=" {% static 'risk.html' %} ">Arthritis</a></li>
                                            <li><a href=" {% static 'risk.html' %} ">Bone</a></li>
                                            <li><a href=" {% static 'risk.html' %} ">Cancer</a></li>
                                            <li><a href=" {% static 'risk.html' %} ">Diabetes</a></li>
                                            <li><a href=" {% static 'risk.html' %} ">Digestion</a></li>
                                            <li><a href=" {% static 'risk.html' %} ">Fatigue</a></li>
                                            <li><a href=" {% static 'risk.html' %} ">Fever</a></li>
                                        </div>
                                        <div class="col-lg-6 col-12">
                                            <li><a href=" {% static 'risk.html' %} ">Heart</a></li>
                                            <li><a href=" {% static 'risk.html' %} ">Hepatitis</a></li>
                                            <li><a href=" {% static 'risk.html' %} ">Hormones</a></li>
                                            <li><a href=" {% static 'risk.html' %} ">Hypertension</a></li>
                                            <li><a href=" {% static 'risk.html' %} ">Immunity</a></li>
                                            <li><a href=" {% static 'risk.html' %} ">Infections</a></li>
                                            <li><a href=" {% static 'risk.html' %} ">Jaundice</a></li>
                                            <li><a href=" {% static 'risk.html' %} "> Joints</a></li>
                                            <li><a href=" {% static 'risk.html' %} ">Joints</a></li>


                                        </div>
                                    </div>
                                </ul>
                            </li>
                            <li><a href=" {% static 'faq.html' %} ">Faqs</a></li>
                            <li><a href=" {% static 'contact-us.html' %} ">Contact Us</a></li>
                            <li style="margin-right: 0;"><a href=" {% static 'upload_prescription.html' %} "><button class="ml-2"><i
                                            class="text-light fa fa-upload"></i>Upload Prescription</button></a></li>
                        </ul>
                    </div>
                </nav>
                <div class="toggle-btn">
                    <i class="fa fa-bars"></i>
                </div>
            </div>
        </header>
        {% for message in messages %}
        <div class="alert alert-{{message.tags}} alert-dismissible fade show in" role="alert">
            {{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endfor %}