{% load static %}
        <header>
            <div class="navbar">
                <div class="logo"><a href="{% url 'index' %}"><img src="{{aboutdata.logo.url}} " alt="" class="logo"></a></div>
                <nav>
                    <div class="top">
                        <ul>
                            {% if user.is_authenticated %}
                            <li class="dropdown dropdown-toggle"><a type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Welcome {{request.user.first_name}} <i class="fa fa-user"></i></a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="{% url "userdashboard" %}">Dashboard</a>
                                    <a class="dropdown-item" href="{% url "profile" %}">Profile</a>
                                    <a class="dropdown-item" href="{% url "booking" %}">My Bookings</a>
                                    <a class="dropdown-item" href="{% url "report" %}">My Reports</a>
                                    <a class="dropdown-item" href="{% url "family" %}">My Family &amp; Friends</a>
                                    <a class="dropdown-item" href="{% url "address" %}">Manage Addresses</a>
                                    <a class="dropdown-item" href="{% url "logoutuser" %}">Sign-Out</a>
                                  </div>
                            </li>
                            
                            {% else %}
                            <li><a href=" {% url 'userlogin' %} ">Login/Sign up <i class="fa fa-user"></i></a></li>
                            {% endif %}
                            <li><a href="#">Gurugon <i class="fa fa-map-marker"></i></a></li>
                            <li><a href=" {% static 'tel:+919199944099' %} ">+91 9199944099</a>/<a href="tel:+919584584587">+91
                                    9584584587 <i class="fa fa-phone"></i></a></li>

                        </ul>
                    </div>
                    <div class="bottom">
                        <ul>
                            <li class="sub-menu"><a href="#">Surgery</a>
                                <ul class="drop-down">
                                    <div class="row">
                                        <div class="col-lg-6 col-12">
                                            <li><a href="#">Piles Surgery</a></li>

                                            <li><a href="#">Anal Fistula Surgery</a></li>

                                            <li><a href="#">Anal Fissure Surgery</a></li>
                                        </div>
                                        <div class="col-lg-6 col-12">

                                            <li><a href="#">Pilonidal Sinus Surgery</a></li>

                                            <li><a href="#">Gallstones Surgery</a></li>
                                        </div>
                                    </div>
                                </ul>
                            </li>

                            <li class="sub-menu"><a href="#">Popular Packages</a>
                                <ul class="drop-down">
                                    <div class="row">
                                        <div class="col-lg-6 col-12">
                                            <li><a href="# ">Pregnancy Checkup</a></li>
                                            <li><a href="# ">Arthritis Test</a></li>
                                            <li><a href="# ">Thyroid Test</a></li>
                                            <li><a href="# ">HbA1c Test</a></li>
                                            <li><a href="# ">PSA Test</a></li>
                                        </div>
                                        <div class="col-lg-6 col-12">
                                            <li><a href="# ">Uric Acid Test</a></li>
                                            <li><a href="# ">Pancreatitis Test</a></li>
                                            <li><a href="# ">STD Test</a></li>
                                            <li><a href="# ">Ca125 Test</a></li>
                                            <li><a href="# ">Vitamin B12 Test</a></li>
                                        </div>
                                    </div>
                                </ul>
                            </li>
                            <li class="sub-menu"><a href="#">Risk</a>
                                <ul class="drop-down">
                                    <div class="row">
                                        <div class="col-6">
                                            <li><a href=" #">Alcoholism</a></li>
                                            <li><a href=" #">Anger</a></li>
                                            <li><a href=" #">Eating Poorly</a></li>
                                            <li><a href=" #">Heartburn</a></li>
                                            <li><a href=" #">Junk Food</a></li>
                                            <li><a href=" #">Low Iron Diet</a></li>
                                        </div>
                                        <div class="col-6">
                                            <li><a href=" #">Medicine Overuse</a></li>
                                            <li><a href=" #">Poor Nutrition</a></li>
                                            <li><a href=" #">Sleeplessness</a></li>
                                            <li><a href=" #">Smoking</a></li>
                                            <li><a href=" #">Stress</a></li>
                                            <li><a href=" #">Zero Exercise</a></li>
                                        </div>
                                </ul>
                            </li>
                            <li class="sub-menu"><a href="#">Habit</a>
                                <ul class="drop-down  width-230">
                                    <div class="row">
                                        <div class="col-lg-6 col-12">
                                            <li><a href=" #">Acidity</a></li>
                                            <li><a href=" #">Allergy</a></li>
                                            <li><a href=" #">Anaemia</a></li>
                                            <li><a href=" #">Arthritis</a></li>
                                            <li><a href=" #">Bone</a></li>
                                            <li><a href=" #">Cancer</a></li>
                                            <li><a href=" #">Diabetes</a></li>
                                            <li><a href=" #">Digestion</a></li>
                                            <li><a href=" #">Fatigue</a></li>
                                            <li><a href=" #">Fever</a></li>
                                        </div>
                                        <div class="col-lg-6 col-12">
                                            <li><a href=" #">Heart</a></li>
                                            <li><a href=" #">Hepatitis</a></li>
                                            <li><a href=" #">Hormones</a></li>
                                            <li><a href=" #">Hypertension</a></li>
                                            <li><a href=" #">Immunity</a></li>
                                            <li><a href=" #">Infections</a></li>
                                            <li><a href=" #">Jaundice</a></li>
                                            <li><a href=" #"> Joints</a></li>
                                            <li><a href=" #">Joints</a></li>


                                        </div>
                                    </div>
                                </ul>
                            </li>
                            <li><a href=" # ">Faqs</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li style="margin-right: 0;"><a href=" # "><button class="ml-2"><i
                                            class="text-light fa fa-upload"></i>Upload Prescription</button></a></li>
                        </ul>
                    </div>
                </nav>
                <div class="toggle-btn text-light">
                    <i class="fa fa-bars"></i>
                </div>
            </div>
        </header>
        {% for message in messages %}
        <div class="alert alert-{{message.tags}} alert-dismissible fade show in" role="alert">
            {{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endfor %}