{% extends 'basic.html' %}
{% load static %}
{% block body %}
<style>
    .bg-primary {
        background: #00a0a8 !important;
    }

    .text-secondary {
        color: red !important;
    }

    .bg-secondary {
        background: red !important;
    }

    .text-primary {
        color: #00a0a8 !important;
    }

    .addressbox input[type=checkbox] {
        position: absolute !important;
        top: 25px;
        right: 23px;
    }

    div.Addressbuttons button {
        -webkit-text-size-adjust: 100%;
        -webkit-tap-highlight-color: transparent;
        box-sizing: border-box;
        margin: 0;
        font: inherit;
        overflow: visible;
        text-transform: none;
        -webkit-appearance: button;
        cursor: pointer;
        font-family: inherit;
        line-height: inherit;
        background: #f16948;
        border: 1px solid #f16948;
        color: #fff;
        font-size: 15px;
        border-radius: 0 30px 30px 0;
        padding: 10px 35px;
    }

    input.coupeninput {
        padding: 5px 14px;
        font-size: 16px;
        letter-spacing: 2px;
        border-radius: 25px;
        border: 1px solid #d3d3d3;
        width: 55%;

        margin-bottom: 15px;
    }

    input.coupenButton {
        box-sizing: border-box;
        font: inherit;
        font-family: inherit;
        font-size: inherit;
        -webkit-appearance: button;
        background: none repeat scroll 0 0 #ff9800;
        border: medium none;
        color: #fff;
        cursor: pointer;
        position: absolute;
        border-radius: 30px;
        margin-left: 5px;
        padding: 4px;
        width: 80px;
        line-height: 27px;

    }

    .cpninput {
        float: initial;
        display: initial;
        position: relative;
    }
</style>
<div class="container">
    <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 ">
            <form method="post" enctype="multipart/form-data">{% csrf_token %}
                <div class="p-3 shadow p-3 mb-2 bg-white rounded">1 {{user.first_name}} | +91 {{user.phone}}</div>
                <div class="shadow mb-2">
                    <div class="p-3  text-light bg-primary">2 Add Member</div>
                    <div class="p-3 ">

                        <div class="row">
                            <div class="p-3 col-sm-4">
                                <div class="p-3 text-sm shadow-sm addressbox">
                                    <span>{{user.first_name}} {{user.last_name}},</span><br>
                                    <small>Self,</small><br>
                                    <small>{{user.gender}} , {{user.age}} yrs</small>
                                    <input type="checkbox" class="familymember" name="self" id="memberself" checked>
                                </div>
                            </div>
                            {% for data in family %}
                            <div class="p-3 col-sm-4">
                                <div class="p-3 text-sm shadow-sm addressbox">
                                    <span>{{data.name}},</span><br>
                                    <small>{{data.relation}}</small><br>
                                    <small>{{data.gender}} , {{data.age}} yrs</small>
                                    <input type="checkbox" class="familymember" name="member{{data.id}}"
                                        id="member{{data.id}}" checked="checked">
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="Addressbuttons">
                            <a href="{% url 'family' %}?next={{request.path}}"><button class="mx-2">Add More
                                    Member</button></a>
                            <button type="button" class="mx-2" data-toggle="collapse" data-target="#collapseExample"
                                aria-expanded="false" aria-controls="collapseExample">next</button>
                        </div>
                    </div>
                </div>
                <div class=" shadow  mb-2 bg-white rounded">
                    <div class="p-3">3 Add Sample Collection Address, Date & Time</div>
                    <div class="collapse" id="collapseExample">
                        <div class="card-body">
                            <div class="row">
                                {% for data in address %}
                                <div class="p-3 col-sm-6">
                                    <div class="p-3 text-sm shadow-sm addressbox d-flex flex-row">
                                        <div><input class="mx-1" type="radio" name="address" id="address{{data.id}}"
                                                required></div>
                                        <div> <label for="address{{data.id}}"> <small>
                                                    House no.: {{data.houseno}}, {{data.city}}, {{data.state}}, India -
                                                    {{data.pin}}
                                                </small></label>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>

                            <div class="my-3"></div>
                            <p class="text-primary">CHOOSE DATE & TIME FOR HOME SAMPLE COLLECTION</p>
                            <div class="row mb-3">
                                <div class="col-sm-6">
                                    <input type="date" name="colletiondate" class="form-control " required>
                                </div>
                                <div class="col-sm-6">
                                    <input type="time" name="colletiontime" class="form-control" required>
                                </div>
                            </div>
                            <small>* Choose sample collection date & time to proceed further</small>
                            <div class="Addressbuttons">
                                <a href="{% url 'address' %}?next={{request.path}}"><button class="mx-2">Add More
                                        Address</button></a>
                                <button class="mx-2" type="button" data-toggle="collapse"
                                    data-target="#collapseExample1" aria-expanded="false"
                                    aria-controls="collapseExample1">next</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" shadow  mb-2 bg-white rounded">
                    <div class="p-3" data-toggle="collapse" data-target="#collapseExample1" aria-expanded="false"
                        aria-controls="collapseExample1">4 Payment Option</div>
                    <div class="collapse" id="collapseExample1">
                        <div class="card-body">
                            <div class="shadow-sm p-3 mb-2">
                                <div class="my-3"></div>
                                <div class="mb-3">
                                    <img src="/static/images/coupon-card.png" class="mb-3">Apply Coupon here<br>
                                    <div class="d-none" id="coupencard">
                                        <div class="d-flex justify-content-between col-md-6 p-3 border border-success ">
                                            <div class="d-flex">
                                                <div class="align-self-center text-bg text-success">
                                                    <i
                                                        class="fa fa-check mr-3 rounded-circle border border-success p-2"></i>
                                                </div>
                                                <div class="align-self-center">
                                                    <span id=coupencode></span><strong
                                                        class="text-success">Applied</strong>
                                                    <br>
                                                    <small><span id="coupenmsg"></span></small>
                                                </div>
                                            </div>
                                            <div class="align-self-center"><a href="" class="text-danger">remove</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-danger d-none">invalid coupen</div>
                                    <input type="text" class="coupeninput" id="coupeninput" placeholder="Enter Coupen">
                                    <input type="button" class="coupenButton" id="coupensubmit" value="Apply">
                                </div>
                                <div>
                                    <small>* Choose sample collection date & time to proceed further</small>
                                </div>
                            </div>
                            <div class="p-3 shadow-sm p-3 mb-2 bg-white rounded" id=''>
                                <input type="radio" name="payoption" id="paytm" value="paytm" class="mx-2"><label
                                    for="paytm"> <img src="/static/images/paytm_payment.png" alt=""> Pay with
                                    Paytm</label>
                            </div>
                            <div class="p-3 shadow-sm p-3 mb-2 bg-white rounded">
                                <input type="radio" name="payoption" id='paypal' value="paypal" class="mx-2"><label
                                    for="paypal"><img src="/static/images/paypal.png" class="mx-1" alt="paypal icon">
                                    Pay with Paypal</label>
                            </div>
                            <div class="Addressbuttons">
                                <button type="submit" class="mx-2">Pay Now</button>

                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm-4 col-xs-12 packages_section mob_viewport">
            <div class="p-3 shadow p-3 mb-2 bg-primary text-light font-weight-bold rounded">{{type|title}} Details</div>

            {% if type == 'test' %}
            <div class="p-3 shadow d-flex justify-content-between p-3 mb-2  rounded">
                <div>
                    <span>{{test.test_name}}</span><br>
                    <del class="text-secondary">₹{{test.test_price}} </del> <small
                        class="text-primary font-weight-bold mx-3">₹{{test.final_cost}}</small>
                </div>
                <div>
                    <small class="p-1 bg-primary text-light">save
                        {{test.discount}}{% if '%' not in test.discount %}₹{% endif %}</small>
                </div>
            </div>
            {% else %}
            <div class="p-3 shadow d-flex justify-content-between p-3 mb-2  rounded">
                <div>
                    <span>{{package.Package_name}}</span><br>
                    <del class="text-secondary">₹{{package.Package_price}} </del> <small
                        class="text-primary font-weight-bold mx-3">₹{{package.final_cost}}</small>
                </div>
                <div>
                    <small class="p-1 bg-primary text-light">save
                        {{package.discount}}{% if '%' not in package.discount %}₹{% endif %}</small>
                </div>
            </div>
            {% endif %}
            <div class="p-3 shadow p-3 mb-2  font-weight-bold rounded" id="boxmemberself">
                <div>{{user.first_name}}{{user.last_name}} | self,</div>
                <small>Male, {{user.age}} years</small>
                <hr>
                {% if type == 'test' %}
                <div>
                    <div>{{test.test_name}} Test</div>
                    <small>{{package.test_name}} Included : 1</small>
                    <div>
                        <del class="text-secondary">₹{{test.test_price}} </del> <small
                            class="text-primary font-weight-bold mx-3 packageprize">₹<span id="prizememberself">
                                {{test.final_cost}}</span></small>
                    </div>
                </div>
                {% else %}
                <div>Ayushman Package</div>
                <small>{{package.Package_name}} Included : {{totaltest}}</small>
                <div>
                    <del class="text-secondary">₹{{package.Package_price}} </del> <small
                        class="text-primary font-weight-bold mx-3 packageprize">₹<span
                            id="prizememberself">{{package.final_cost}}</span></small>
                </div>
                {% endif %}
            </div>
            {% for data in member %}
            <div class="p-3 shadow p-3 mb-2  font-weight-bold rounded" id="boxmember{{data.id}}">
                <div>{{data.name}} | {{data.relation}}</div>
                <small>Male, {{data.age}} years</small>
                <hr>
                {% if type == 'test' %}
                <div>
                    <div>{{test.test_name}} Test</div>
                    <small>{{package.test_name}} Included : 1</small>
                    <div>
                        <del class="text-secondary">₹{{test.test_price}} </del> <small
                            class="text-primary font-weight-bold mx-3 packageprize">₹<span id="prizemember{{data.id}}">
                                {{test.final_cost}}</span></small>
                    </div>
                </div>
                {% else %}
                <div>Ayushman Package</div>
                <small>{{package.Package_name}} Included : {{totaltest}}</small>
                <div>
                    <del class="text-secondary">₹{{package.Package_price}} </del> <small
                        class="text-primary font-weight-bold mx-3 packageprize">₹<span
                            id="prizemember{{data.id}}">{{package.final_cost}}</span></small>
                </div>
                {% endif %}
            </div>
            {% endfor %}
            <div class="shadow p-3">
                <div class="d-flex justify-content-between">
                    <div>Price</div>
                    <div>₹ {{totleprize}}</div>
                </div>
                <div class="d-flex justify-content-between">
                    <div>Doctor Consultation<span class=" mx-1 badge badge-pill badge-success">Success</span></div>
                    <div><del>₹ 798</del></div>
                </div>
                <hr>
                <div class="d-flex justify-content-between">
                    <div class="font-weight-bold text-primary">Total</div>
                    <div class="font-weight-bold text-primary">₹ <span id="totlePrize">{{totleprize}}</span></div>
                </div>
                <p class="text-success text-center my-4"><small>Your total saving on this health booking ₹
                        {{totalsaving}}</small>
                </p>
                <div class="Addressbuttons">
                    <button class="mx-2">Add More Package</button>
                </div>
            </div>


        </div>
    </div>
    {% endblock %}
    {% block basicscript %}
    <script>
        // funtion for prize change
        totalprize = $('#totlePrize')
        packagePrize = $("small.packageprize")
        $("input.familymember").on("change", function () {
            $(`#box${this.id}`).toggle()
            var prize = parseInt($(`#prize${this.id}`).html())
            var tprize = parseInt(totalprize.html())
            if ($(this).is(":checked")) {
                tprize = tprize + prize
            } else {
                tprize = tprize - prize
            }
            totalprize.html(tprize)
            console.log(prize, tprize)
            console.log(this.name)
        })

        // funtion for couper apply
        cbutton = $("#coupensubmit")
        cinput = $("#coupeninput")
        cerror = $("#coupenerror")
        cCard = $("#coupencard")
        csuccess = $("#coupensuccess")
        cbutton.on("click", function () {
            console.log('woring')
            if (cinput.val().length != 0) {
                cCard.toggle('display')
            } else {
                cerror.toggle("display")
            }
        })
    </script>

    {% endblock %}