{% extends 'basic.html' %}
{% load static %}
{% block body %}
<style>
    .bg-primary {
        background: #00a0a8 !important;
    }
    .text-secondary{
        color: red !important;
    }
    .bg-secondary{
        background: red !important;
    }

    .text-primary {
        color: #00a0a8 !important;
    }

    .addressbox input[type=checkbox] {
        position: absolute !important;
        top: 25px;
        right: 23px;
    }

    div.Addressbuttons button {
        -webkit-text-size-adjust: 100%;
        -webkit-tap-highlight-color: transparent;
        box-sizing: border-box;
        margin: 0;
        font: inherit;
        overflow: visible;
        text-transform: none;
        -webkit-appearance: button;
        cursor: pointer;
        font-family: inherit;
        line-height: inherit;
        background: #f16948;
        border: 1px solid #f16948;
        color: #fff;
        font-size: 15px;
        border-radius: 0 30px 30px 0;
        padding: 10px 35px;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 ">
            <div class="p-3 shadow p-3 mb-2 bg-white rounded">1 Test | +91 9090974785</div>
            <div class="shadow mb-2">
                <div class="p-3  text-light bg-primary">2 Add Member</div>
                <div class="p-3 ">
                    <div class="row">
                        <div class="p-3 col-sm-4">
                            <div class="p-3 text-sm shadow-sm addressbox">
                                <span>Test,</span><br>
                                <small>Self</small><br>
                                <small>male , 30 yrs</small>
                                <input type="checkbox" name="" id="">
                            </div>
                        </div>
                    </div>
                    <div class="Addressbuttons">
                        <button class="mx-2">Add More Member</button>
                        <button class="mx-2" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false"
                        aria-controls="collapseExample">next</button>
                    </div>
                </div>
            </div>
            <div class=" shadow  mb-2 bg-white rounded">
                <div class="p-3" >3 Add Sample Collection Address, Date & Time</div>
                <div class="collapse" id="collapseExample">
                    <div class="card-body">
                        <div class="row">
                            <div class="p-3 col-sm-6">
                                <div class="p-3 text-sm shadow-sm addressbox d-flex flex-row">
                                    <div><input class="mx-1" type="radio" name="" id=""></div>
                                    <div><small>
                                            House no.: 123, Indore, Madhya Pradesh, India indore Madhya Pradesh - 452010
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="Addressbuttons">
                            <button class="mx-2">Add More Address</button>
                            <button class="mx-2" data-toggle="collapse" data-target="#collapseExample1" aria-expanded="false"
                            aria-controls="collapseExample1">next</button>
                        </div>
                        <div class="my-3"></div>
                        <p class="text-primary">CHOOSE DATE & TIME FOR HOME SAMPLE COLLECTION</p>
                        <div class="row mb-3">
                            <div class="col-sm-6">
                                <input type="date" class="form-control ">
                            </div>
                            <div class="col-sm-6">
                                <input type="date" class="form-control ">
                            </div>
                        </div>
                        <small>* Choose sample collection date & time to proceed further</small>
                    </div>
                </div>
            </div>
            <div class=" shadow  mb-2 bg-white rounded">
                <div class="p-3" data-toggle="collapse" data-target="#collapseExample1" aria-expanded="false"
                    aria-controls="collapseExample1">3 Add Sample Collection Address, Date & Time</div>
                <div class="collapse" id="collapseExample1">
                    <div class="card-body">
                        <div class="row">
                            <div class="p-3 col-sm-6">
                                <div class="p-3 text-sm shadow-sm addressbox d-flex flex-row">
                                    <div><input class="mx-1" type="radio" name="" id=""></div>
                                    <div><small>
                                            House no.: 123, Indore, Madhya Pradesh, India indore Madhya Pradesh - 452010
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="my-3"></div>
                        <p class="text-primary">CHOOSE DATE & TIME FOR HOME SAMPLE COLLECTION</p>
                        <div class="row mb-3">
                            <div class="col-sm-6">
                                <input type="date" class="form-control ">
                            </div>
                            <div class="col-sm-6">
                                <input type="date" class="form-control ">
                            </div>
                        </div>
                        <small>* Choose sample collection date & time to proceed further</small>
                    </div>
                </div>
            </div>
            <div class="p-3 shadow p-3 mb-2 bg-white rounded">4 Payment Option</div>
        </div>
        <div class="col-sm-4 col-xs-12 packages_section mob_viewport">
            <div class="p-3 shadow p-3 mb-2 bg-primary text-light font-weight-bold rounded">PACKAGE DETAILS</div>
            <div class="p-3 shadow d-flex justify-content-between p-3 mb-2  rounded">
                <div>
                    <span>ferlin</span><br>
                    <del class="text-secondary">₹1050 </del> <small class="text-primary font-weight-bold mx-3">₹399</small>
                </div>
                <div>
                    <small class="p-1 bg-primary text-light">save 62%</small>
                </div>
            </div>
            <div class="p-3 shadow p-3 mb-2  font-weight-bold rounded">PACKAGE DETAILS</div>
        </div>
    </div>
    {% endblock %}