{% extends 'basic.html' %}
{% load static %}
{% block body %}
<div class="location container my-3">
    <a href="/" style="color: #000">Home</a>
    <i class="fa fa-angle-right"></i>
    <a  style="color: #ff9800; ">{{category.name}}</a>
</div>
<div class="first container">
    <h3>{{category.name}} tests </h3>
    <p>
       {{catagory.describe}}
    </p>

</div>
<div class="container">
    <div class="justify-content-center align-items-center d-flex flex-wrap">
        {% for data in packages %}
            
        {% include 'package/component/packageItem.html' with data=data %}
        {% endfor %}
    </div>
</div>
<div class="second container">
    <p>Some symptoms that people with GERD may experience are:</p>
    <ul>
        <li>Heartburn</li>
        <li>Regurgitation</li>
        <li>Bloating</li>
        <li>Burping</li>
        <li>Nausea</li>
        <li>Wheezing, dry cough</li>
        <li>Unexplained weight loss</li>
        <li>Dysphagia</li>
    </ul>
    <p>Getting an Acidity Test in Gurgaon is the best way to keep track of your condition and take the necessary
        steps before it worsens.</p>
    <div class="third">
        <h3>Why Acidity Testing is important?</h3>
        <p>While acidity in itself is common and resolves fairly easily since there are many instant heartburn
            relief medications available, regular recurrence can indicate a more severe health issue as well as
            cause disruptions in daily life. Getting an acidity test in Gurgaon done in the early stages and
            then regularly following up with the doctor can help you take the necessary steps in improving or
            even resolving your condition.</p>
        <p>Some common risk factors of acidity or GERD are:</p>
        <ul>
            <li>Eating big meals or lying down immediately after a meal</li>
            <li>Being obese or overweight</li>
            <li>Snacking just before bedtime</li>
            <li>Eating specific food like citrus, tomato, chocolate, mint, garlic, onions, or spicy or fatty
                foods</li>
            <li> Drinking alcohol, caffeinated beverages</li>
            <li>Smoking</li>
            <li>Being pregnant</li>
        </ul>
        <p>Getting acidity Tests in Gurgaon is also important because severe heartburn can mimic the symptoms of
            heart attack. Regular health checkups keep you on top of your condition and help you take immediate
            action in case of emergency.</p>
    </div>
    <div class="fourth">
        <h3>How Acidity Test is performed in Gurgaon?</h3>
        <p>A doctor usually diagnoses acidity by asking you about the symptoms, their frequency and intensity
            and may advise further tests. Once acidity is confirmed, a doctor may recommend further Acidity
            Tests to look for underlying causes or its impact. These may include blood tests like liver function
            test, lipid profile, homocysteine, etc.</p>

        <p> Early detection through an acidity test in Gurgaon can help you avoid many major conditions by
            taking necessary medications and implementing lifestyle changes.</p>
    </div>
    <div class="fifth">
        <h3>OUR POPULAR TESTS & PACKAGES</h3>
        <p>Allergy Testing in Gurgaon, Amylase Test in Gurgaon, Anemia Test in Gurgaon, Anti Hcv Test in
            Gurgaon, Arthritis Test in Gurgaon, Blood Test For Fever in Gurgaon, Ca125 Test in Gurgaon, CBC Test
            in Gurgaon, Cholesterol Test in Gurgaon, Dengue Test in Gurgaon, Diabetes Test in Gurgaon, Full Body
            Checkup in Gurgaon, HbA1c Test in Gurgaon, HbsAg Test in Gurgaon, Hepatitis B Test in Gurgaon, HIV
            Test in Gurgaon, Hormone Test in Gurgaon, Immunity Test in Gurgaon, Iron Studies Test in Gurgaon,
            Kidney Function Test in Gurgaon, Lipid Profile Test in Gurgaon, Liver Function Test in Gurgaon,
            Malaria Test in Gurgaon, Pancreatitis Test in Gurgaon, PCOS Test in Gurgaon, Pregnancy Tests in
            Gurgaon, Pregnancy Checkup in Gurgaon, PSA Test in Gurgaon, STD Test in Gurgaon, Stool Test in
            Gurgaon, Sugar Test in Gurgaon, Thyroid Test in Gurgaon, Typhoid Test in Gurgaon, Uric Acid Test in
            Gurgaon, Urine Test in Gurgaon, Vitamin B12 Test in Gurgaon, Vitamin D Test in Gurgaon, Vitamin Test
            in Gurgaon</p>
    </div>
</div>
{% endblock %}