{% extends 'basic.html' %}
{% load static %}
{% block body %}
<div class="location container my-3">
    <a href="/" style="color: #000">Home</a>
    <i class="fa fa-angle-right"></i>
    <a  style="color: #ff9800; ">{{category.name}}</a>
</div>
<div class="first container">
    <h3>{{category.name}} tests </h3>

    <p>
       {{catagory.describe}}
    </p>

</div>
<div class="container">
    <nav class="nav nav-pills nav-fill col-4">
        {% url 'getbysubcategory' category.slug as packageurl %}
        <a class="nav-link {% if request.path == packageurl %}active{% endif %}" href="{{packageurl}}">Packges</a>
        {% url 'testurl' category.slug 'test' as testurl %}
        <a class="nav-link {% if request.path == testurl %}active{% endif %}" href="{{testurl}}">Tests</a>
      
      </nav>
    <div class="justify-content-center align-items-center d-flex flex-wrap infinite-container">
        {% if type == 'package' %}
        {% for data in packages %}
            
        {% include 'package/component/packageItem.html' with data=data %}
        {% endfor %}
        {% else %}  
        {% for data in packages %}
            
        {% include 'package/component/testitem.html' with data=data %}
        {% endfor %}

        {% endif %}
    </div>
    <center class="my-3">
   
    <div class="spinner-border text-danger loading" style="display: none;" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </center>
    {% if packages.has_next %}
    <a class="infinite-more-link" href="?page={{ packages.next_page_number }}">More</a>
    {% endif %}

</div>
<div class="second container">
    {{category.description|safe}}
</div>
{% endblock %}


{% block basicscript %}
<script src="{% static 'loading/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'loading/infinite.min.js' %}"></script>
<script>

    var infinite = new Waypoint.Infinite({
      element: $('.infinite-container')[0],
      onBeforePageLoad: function () {
        $('.loading').show();
      },
      onAfterPageLoad: function ($items) {
        $('.loading').hide();
      }
    });
</script>
{% endblock %}