<!DOCTYPE html>
<html lang="en">
    {% load custumfilter %}
    {% with ''|getAbout as aboutdata %}
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dental</title>
    <link href=" {% static 'css/main.css' %} " rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />


</head>

<body>
  <div class="pregnancy-test-page">
    {% include 'header.html' with aboutdata=aboutdata %}
    <br><br>
    <div class="container">
        <div class="title">
            <div class="left" >
                <h2>{{package.Package_name}}</h2>
                <p>Perameter Included: <b>{{totaltest}}</b></p><br>
            </div>
            <div class="right ">
                <h4 style="opacity: 80%;">Sequal Price: &#8377;{{package.Package_price}}</h4>
                <h4>Limited Time offer: &#8377;{{package.final_cost}}</h4>
                <!-- package rating -->
                <div class="package_rating">
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="text-dark">4.8/5</span>
                </div>
                <!-- package rating -->


            </div>
        </div>
        <div>

            <div class="row mt-5">
                <div class="col-lg-9 col-12 text-left" style="float: left;">
                    {{package.Package_descrption|safe}}
                    <br>
                </div>
                <div class="col-lg-3 col-12 no-display">
                    <div class="row">
                        <div class="row card-1 col-lg-12 col-6  p-1">
                            <div class="col-lg-3 col-6 p-0 m-0">
                                <img src=" {% static 'images/safety-assured.jpg' %} " style="width: 100%; height: 100%;" alt="">
                            </div>
                            <div class="col-lg-9 col-6" style="border-left: 1px solid black;">
                                <a href="#" style="font-size: 14px;">Covid Safety</a>
                                <p style="font-size: 13px;">Assured</p>
                            </div>
                        </div>
                            <div class="row card-2 col-lg-12 col-6  p-1">
                                <div class="col-lg-3 col-6 p-0 m-0">
                                    <img src=" {% static 'images/smart-report-icon.jpg' %} " style="width: 100%; height: 100%;" alt="">
                                </div>
                                <div class="col-lg-9 col-6" style="border-left: 1px solid black;">
                                    <a href="#" style="font-size: 14px;">View Smart</a>
                                    <p style="font-size: 13px;">Smart Report</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row third" style="background: #f2f2f2;">
                <div class="col-lg-3 col-6 perameter">
                    <img src=" {% static 'images/lv_icon1.png' %} " class="float-left p-2" alt="">Parameter Included: <b> {{totaltest}}</b></p>
                </div>
                <div class="col-lg-3 col-6 perameter">
                    <img src=" {% static 'images/lv_icon2.png' %} " class="float-left p-2" alt=""><b>FREE &nbsp;</b> Sample
                    Collection</p>
                </div>
                <div class="col-lg-3 col-6 perameter">
                    <img src=" {% static 'images/lv_icon3.png' %} " class="float-left p-2" alt=""> <b>FREE &nbsp;</b>Doctor
                    Consultation
                    </p>
                </div>
                <div class="col-lg-3 col-6 perameter">
                    <img src=" {% static 'images/lv_icon4.png' %} " class="float-left p-2" alt=""> Test booked so far:
                    <b>&nbsp;240+</b></p>
                </div>
            </div>
            <div class="fourth">
                <div class="child">

                    <div class="row">
                        <div class="col-lg-3 col-6">
                            <p>Report Time: <br><b> 48 Hours</b></p>
                        </div>
                        <div class="col-lg-3 col-6">
                            <p>Fasting Time: <br> <b>10 Hours</b></p>
                        </div>
                        <div class="col-lg-3 col-6">
                            <p>Test Recommended for: <br> <b>Female</b></p>
                        </div>
                        <div class="col-lg-3 col-6">
                            <p> Recommended for age: <br> <b>5-99 Years</b></p>
                        </div>
                    </div>

                </div>
            </div>
            <center>
                <a href="#"><button class="link-1">Book Now</button></a>
                <a href="#"><button class="link-2">Get A Call Back</button></a>
            </center>
            <br><br>
            <div class="fifth">
                <h2 style="font-weight: 800;">
                    {{package.Package_name}}  (Test included : {{totaltest}})
                </h2>
                <div class="col-12 head">
                    <div class="row" style="font-weight: 600;">
                        <div class="col-5">
                            Profile/Parameter
                        </div>
                        <div class="col-2 text-center">
                            No. of Parameters
                        </div>
                    </div>
                </div>
                
                {% for data in package.Porfile_collection.all %}
                <div class="col-12 toggler p-0" id="toggler">
                    <div class="row">
                        <div class="col-5">
                            {{data.Profile_Name}}
                        </div>
                        <div class="col-2 text-center">
                            {{data.Select_Test_id.all.count}}
                        </div>
                        <div class="col-5 text-right"><i class="btn fa fa-plus"></i></div>
                    </div>

                    <ul class="col-12">
                        {% for da in data.Select_Test_id.all %}
                        <li>{{da.test_name}}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endfor %}
              
            </div>
            <br><br>
            <div class="fifth">
                <h2 style="font-weight: 800;">
                    Frequntly Asked Questions
                </h2>
                <div class="col-12 toggler p-0" id="toggler">
                    <div class="row">
                        <div class="col-lg-5 col-12">
                            What does The pregnancy blood test show?
                        </div>
                    </div>
                    <ul class="pt-2 pb-2">
                        <p>"A pregnancy blood test shows the presence and rise of the human chorionic gonadotropin
                            (hCG), a hormone secreted during pregnancy. The hCG nearly doubles every 2 days during early
                            pregnancy, so a measurement by a blood test allows for better understanding of a pregnancy."
                        </p>
                    </ul>

                </div>
                <div class="col-12 toggler p-0" id="toggler">
                    <div class="row">
                        <div class="col-lg-5 col-12">
                            What tests should be done during pregnancy?
                        </div>
                    </div>
                    <ul class="pt-2 pb-2">
                        <p>"Some of the common tests that you should get done during pregnancy are complete hemogram,
                            thyroid, blood sugar HIV, TORCH tests, HB variance amongst others. Most of these tests are
                            included in the early pregnancy checkup, so you can get a clear understanding of your health
                            and that of your baby."
                        </p>
                    </ul>

                </div>
                <div class="col-12 toggler p-0" id="toggler">
                    <div class="row">
                        <div class="col-lg-5 col-12">
                            What tests are done during first trimester of pregnancy?
                        </div>
                    </div>
                    <ul class="pt-2 pb-2">
                        <p>"The following tests are generally recommended during the first trimester of pregnancy:
                            Complete hemogram, blood sugar, thyroid, HIV and other STIs, Hb variance, ABO and Rh blood
                            typing among others. Getting a early pregnancy check up is an essential way to determine
                            both the mother and child's health."
                        </p>
                    </ul>

                </div>
                <div class="col-12 toggler p-0" id="toggler">
                    <div class="row">
                        <div class="col-lg-5 col-12">
                            How soon can I take a Pregnancy Test?
                        </div>
                    </div>
                    <ul class="pt-2 pb-2">
                        <p>To get the most accurate result you should wait a week after you have missed your period for
                            a pregnancy test
                        </p>
                    </ul>

                </div>
                <div class="col-12 toggler p-0" id="toggler">
                    <div class="row">
                        <div class="col-lg-5 col-12">
                            Can blood test detect abnormalities in pregnancy?
                        </div>
                    </div>
                    <ul class="pt-2 pb-2">
                        <p>
                            To get the most accurate result you should wait a week after you have missed your period for
                            a pregnancy test
                        </p>
                    </ul>

                </div>
            </div>
        </div>
    
    <div class="first container mt-5">
        <div class="text col-lg-6 col-12">
        </div>
        <h1 class="text-center m-lg-5 mb-5">Most Search Blood Test</h1>
        <div class="slides" style="display:flex; overflow-y:hidden; overflow-x: scroll;">
            <div class="m-auto col-12 col-lg-4">
                <div class="card">
                    <div style="height: 350px;" class="check-up-card">
                        <span class="discount">60% Off</span>
                        <h4>CRP(C Reactive Protein) Quantitative, Serum</h4>
                        Includes : 1 Parameter
                        <ul>
                            <li>CRP (CReactive Protein) Quantitative, Serum</a> </li>
                        </ul>
                        <br>
                        <b>
                            <a href=" {% static '' %} ">+ Know More</a><br>
                            <del>₹750</del>
                            ₹299
                        </b>
                    </div>
                </div>
            </div>
            <div class="m-auto col-12 col-lg-4">
                <div class="card">
                    <div style="height: 350px;" class="check-up-card">
                        <span class="discount">88% Off</span>
                        <h4> D-Dimer Quantitative</h4>
                        Includes : 1 Parameter
                        <ul>
                            <li> D-Dimer Quantitative </li>
                        </ul>
                        <b>
                            <a href=" {% static '' %} ">+ Know More</a><br>
                            <del>₹4000</del>
                            ₹499
                        </b>
                    </div>
                </div>
            </div>

            <div class="m-auto col-12 col-lg-4">
                <div class="card">
                    <div style="height: 350px;" class="check-up-card">
                        <span class="discount">58% Off</span>
                        <h4>Covid 19 RTPCR Test</h4>
                        Includes : 1 Parameter
                        <ul>
                            <li>Covid 19 RTPCR Test</li>
                        </ul>
                        <br>
                        <b>
                            <br>
                            <a href=" {% static '' %} ">+ Know More</a><br>
                            <del>₹1200</del>
                            ₹499
                        </b>
                    </div>
                </div>
            </div>

            <div class="m-auto col-12 col-lg-4">
                <div class="card">
                    <div style="height: 350px;" class="check-up-card">
                        <span class="discount">91% Off</span>
                        <h4>HealthyIndia 2021 Full Body Checkup</h2>
                            Includes : 82 Parameters
                            <ul>
                                <li>Blood Glucose Fasting</li>
                                <li>Complete Hemogram</li>
                                <li>HbA1c</li>
                            </ul>

                            <b>

                                <a href=" {% static '' %} ">+ Know More</a><br>
                                <del>₹7733</del>
                                ₹699
                            </b>
                    </div>
                </div>
            </div>
            <div class="m-auto col-12 col-lg-4">
                <div class="card">
                    <div style="height: 350px;" class="check-up-card">
                        <span class="discount">71% Off</span>
                        <h4>Healthy India 2021 Full Body Checkup With Covid IgG Antibody</a></h2>
                            Includes : 85 Parameters
                            <ul>
                                <li>Blood Glucose Fasting</a> </li>
                                <li>Complete Hemogram</a> </li>
                                <li>COVID-19 Antibody - IgG</a>
                                </li>
                            </ul>
                            <b>
                                <a href=" {% static '' %} ">+ Know More</a><br>
                                <del>₹4555</del>
                                ₹129
                            </b>
                    </div>
                </div>
            </div>
            <div class="m-auto col-12 col-lg-4">
                <div class="card">
                    <div style="height: 350px;" class="check-up-card">
                        <span class="discount">82% Off</span>
                        <h4>Basic ScreeningPackage 3.0</a></h2>
                            Includes : 83 Parameters
                            <ul>
                                <li>Blood Glucose Fasting</a> </li>
                                <li>Complete Hemogram</a> </li>
                                <li>CRP (CReactive Protein) Quantitative, Serum</li>
                            </ul>
                            <br>
                            <b><a href=" {% static '' %} ">+ Know More</a><br>
                                <del>₹8508</del>₹1499
                            </b>
                    </div>
                </div>
            </div>
            <div class="m-auto col-12 col-lg-4">
                <div class="card">
                    <div style="height: 350px;" class="check-up-card">
                        <span class="discount">67% Off</span>
                        <h4>Vitamin Screening</h2>
                            Includes : 2 Parameters
                            <ul>
                                <li> Vitamin B12 Cyanocobalamin</a> </li>
                                <li>Vitamin D Total-25 Hydroxy</li>
                            </ul>
                            <br>
                            <b>
                                <a href=" {% static '' %} ">+ Know More</a><br>
                                <del>₹2700</del>
                                ₹899
                            </b>
                    </div>
                </div>
            </div>
            <div class="m-auto col-12 col-lg-4">
                <div class="card">
                    <div style="height: 350px;" class="check-up-card">
                        <span class="discount">83% Off</span>
                        <h4>Basic Screening
                            Package 4.0</a></h2>
                            Includes : 87 Parameters
                            <ul>
                                <li>Amylase enzymatic, Serum</a>
                                </li>
                                <li>Blood Glucose Fasting</a> </li>
                                <li>Complete Hemogram</a> </li>
                            </ul>
                            <br>
                            <b>
                                <a href=" {% static '' %} ">+ Know More</a><br>
                                <del>₹9978</del>
                                ₹169
                            </b>
                    </div>
                </div>
            </div>
            <div class="m-auto col-12 col-lg-4">
                <div class="card">
                    <div style="height: 350px;" class="check-up-card">
                        <span class="discount">79% Off</span>
                        <h4>Basic
                            Screening 4.0 Package With Covid IgG Antibody</a></h2>
                            Includes : 91 Parameters
                            <ul>
                                <li>Amylase enzymatic, Serum</a>
                                </li>
                                <li>Blood Glucose Fasting</a> </li>
                                <li>Complete Hemogram</a> </li>
                            </ul>
                            <br>
                            <b>
                                <a href=" {% static '' %} ">+ Know More</a><br>
                                <del>₹9000</del>
                                ₹189
                            </b>
                    </div>
                </div>
            </div>
            <div class="m-auto col-12 col-lg-4">
                <div class="card">
                    <div style="height: 350px;" class="check-up-card">
                        <span class="discount">64% Off</span>
                        <h4>Typhoid Test</a></h2>
                            Includes : 29 Parameters
                            <ul>
                                <li>Complete Hemogram</a> </li>
                                <li>Typhi Dot IgM</a> </li>
                                <li>Widal Profile</a> </li>
                            </ul>
                            <br>
                            <b>
                                <a href=" {% static '' %} ">+ Know More</a><br>
                                <del>₹970</del>
                                ₹349
                            </b>
                    </div>
                </div>
            </div>
            <div class="m-auto col-12 col-lg-4">
                <div class="card">
                    <div style="height: 350px;" class="check-up-card">
                        <span class="discount">65% Off</span>
                        <h4>STI Detection Package</a>
                            </h2>
                            Includes : 4 Parameters
                            <ul>
                                <li>Anti HCV antibody
                                    (qualitative)</a> </li>
                                <li>Hepatitis
                                    B Virus (HBV) HbsAg-Screening Surface antigen</a> </li>
                                <li>HIV 1&amp;2 Antibodies</a>
                                </li>
                            </ul>
                            <br>
                            <b>
                                <a href=" {% static '' %} ">+ Know More</a><br>
                                <del>₹2575</del>
                                ₹899
                            </b>
                    </div>
                </div>
            </div>
            <div class="m-auto col-12 col-lg-4">
                <div class="card">
                    <div style="height: 350px;" class="check-up-card">
                        <span class="discount">54% Off</span>
                        <h4>Basic Allergy Package</a>
                            </h2>
                            Includes : 25 Parameters
                            <ul>
                                <li>Complete Hemogram</a> </li>
                                <li>IgE Total antibody</a> </li>
                            </ul>
                            <br>
                            <b><a href=" {% static '' %} ">+ Know More</a><br><del>₹1520</del>₹699</b>
                    </div>
                </div>
            </div>
            <div class="m-auto col-12 col-lg-4">
                <div class="card">
                    <div style="height: 350px;" class="check-up-card">
                        <span class="discount">81% Off</span>
                        <h4>Healthians Full Body Checkup with Thyroid and CBC</a></h2>
                            Includes : 79 Parameters
                            <ul>
                                <li>Blood Glucose Fasting</a> </li>
                                <li>Complete Hemogram</a> </li>
                                <li>HbA1c</a> </li>
                            </ul> <a href=" {% static '' %} ">+
                                Know More</a>
                            <br>
                            <b><a href=" {% static '' %} ">+ Know More</a><br><del>₹5133</del>₹999</b>
                    </div>
                </div>
            </div>
            <div class="m-auto col-12 col-lg-4">
                <div class="card">
                    <div style="height: 350px;" class="check-up-card">
                        <span class="discount">51% Off</span>
                        <h4>Healthians Basic
                            Health Checkup</a></h2>
                            Includes : 38 Parameters
                            <ul>
                                <li>Calcium Total, Serum</li>
                                <li>Complete Hemogram</a> </li>
                                <li>Liver Function Test</a> </li>
                            </ul> <a href=" {% static '' %} ">+ KnowMore</a>
                            <br>
                            <b>
                                <a href=" {% static '' %} ">+ Know More</a><br>
                                <del>₹1630</del>
                                ₹799
                            </b>
                    </div>
                </div>
            </div>
            <div class="m-auto col-12 col-lg-4">
                <div class="card">
                    <div style="height: 350px;" class="check-up-card">
                        <span class="discount">71% Off</span>
                        <h4>Healthians Diabetic
                            Checkup</a></h2>
                            Includes : 49 Parameters
                            <ul>
                                <li>Blood Glucose Fasting</a> </li>
                                <li>HbA1c</a> </li>
                                <li>Kidney Function Test</a> </li>
                            </ul>

                            <br>
                            <b>
                                <a href=" {% static '' %} ">+ Know More</a><br>
                                <del>₹3450</del>
                                ₹999
                            </b>
                    </div>
                </div>
            </div>
            <div class="m-auto col-12 col-lg-4">
                <div class="card">
                    <div style="height: 350px;" class="check-up-card">
                        <span class="discount">44% Off</span>
                        <h4>HIV Preventive Package</a></h2>
                            Includes : 60 Parameters
                            <ul>
                                <li>Blood Glucose Fasting</a> </li>
                                <li>Complete Hemogram</a> </li>
                                <li>HIV 1&amp;2 Antibodies</a></li>
                            </ul>

                            <b><a href=" {% static '' %} ">+ Know More</a><br><del>₹2500</del>₹1399</b>
                    </div>
                </div>
            </div>
            <div class="m-auto col-12 col-lg-4">
                <div class="card">
                    <div style="height: 350px;" class="check-up-card">
                        <span class="discount">79% Off</span>
                        <h4>Hplus
                            Basic Screening &amp; Immunity Check Package</a></h2>
                            Includes : 60 Parameters
                            <ul>
                                <li>Complete Hemogram</a> </li>
                                <li>CRP (C
                                    Reactive Protein) Quantitative, Serum</a> </li>
                                <li>Iron Studies</a> </li>
                            </ul> <a href=" {% static '' %} ">+Know More</a>
                            <br>
                            <b>
                                <a href=" {% static '' %} ">+ Know More</a><br>
                                <del>₹6055</del>
                                ₹1299
                            </b>
                    </div>
                </div>
            </div>
            <div class="m-auto col-12 col-lg-4">
                <div class="card">
                    <div style="height: 350px;" class="check-up-card">
                        <span class="discount">59% Off</span>
                        <h4>Malaria Test</a></h2>
                            Includes : 2 Parameters
                            <ul>
                                <li>Malaria
                                    Parasite detection by Smear examination</a> </li>
                                <li>Malarial Antigen, Vivax &amp; Falciparum</a> </li>
                            </ul>+ Know More</a>
                            <br>
                            <b>
                                <a href=" {% static '' %} ">+ Know More</a><br>
                                <del>₹600</del>₹249</b>
                    </div>
                </div>
            </div>
            <div class="m-auto col-12 col-lg-4">
                <div class="card">
                    <div style="height: 350px;" class="check-up-card">
                        <span class="discount">33% Off</span>
                        <h4>Viral Marker Test</h2>
                            Includes : 47 Parameters
                            <ul>
                                <li> Chikungunya IgM antibody</a>
                                </li>
                                <li>Complete Hemogram</a> </li>
                                <li>CRP (C
                                    Reactive Protein) Quantitative, Serum</a> </li>
                            </ul>
                            <br>
                            <b>
                                <a href=" {% static '' %} ">+ Know More</a><br>
                                <del>₹4160</del>₹2799</b>
                    </div>
                </div>
            </div>
            <div class="m-auto col-12 col-lg-4">
                <div class="card">
                    <div style="height: 350px;" class="check-up-card">
                        <span class="discount">17% Off</span>
                        <h4>Dengue Test</a></h2>
                            Includes : 3 Parameters
                            <ul>
                                <li>Dengue IgG And IgM(Rapid Card)</a> </li>
                                <li>Dengue NS1 Antigen Detection - RAPID Card</a> </li>
                            </ul>
                            <br>
                            <b>
                                <a href=" {% static '' %} ">+ Know More</a><br><del>₹1200</del>₹999</b>
                    </div>
                </div>
            </div>
            <div class="m-auto col-12 col-lg-4">
                <div class="card">
                    <div style="height: 350px;" class="check-up-card">
                        <span class="discount">67% Off</span>
                        <h4>BasicScreening Package 4.0 With Allergy By Elisa Method</a></h2>
                            Includes : 110 Parameters
                            <ul>
                                <li>Allergy Food Profile 20 Allergens</a> </li>
                                <li>Amylase enzymatic, Serum</a>
                                </li>
                                <li>Blood Glucose Fasting</a> </li>
                            </ul>
                            <br>
                            <b>
                                <a href=" {% static '' %} ">+ Know More</a><br>
                                <del>₹5999</del>
                                ₹199
                            </b>
                    </div>
                </div>
            </div>
            <div class="m-auto col-12 col-lg-4">
                <div class="card">
                    <div style="height: 350px;" class="check-up-card">
                        <span class="discount">64% Off</span>
                        <h4>Basic Screening Package 3.0 With Allergy By Elisa Method</a></h2>
                            Includes : 106 Parameters
                            <ul>
                                <li>Allergy Food Profile 20 Allergens</a> </li>
                                <li>Blood Glucose Fasting</a> </li>
                                <li>Complete Hemogram</a> </li>
                            </ul>
                            <br>
                            <b><a href=" {% static '' %} ">+ Know More</a><br><del>₹4999</del>₹1799</b>
                    </div>
                </div>
            </div>
            <div class="m-auto col-12 col-lg-4">
                <div class="card">
                    <div style="height: 350px;" class="check-up-card">
                        <span class="discount">78% Off</span>
                        <h4>Healthians
                            100% Good Health Package With Allergy By Elisa Method</a></h2>
                            Includes : 104 Parameters
                            <ul>
                                <li>Allergy Food Profile 20 Allergens</a> </li>
                                <li>Blood Glucose Fasting</a> </li>
                                <li>Complete Hemogram</a> </li>
                            </ul>
                            <br>
                            <b><a href=" {% static '' %} ">+ Know More</a><br><del>₹8999</del>₹1999</b>
                    </div>
                </div>
            </div>
        </div>

        <center>
            <br><br>
            <a href=" {% static '' %} " class="services-btn m-4">View All Services</a>
            <br><br>
        </center>
    </div>
    
    {% include 'footer.html' with aboutdata=aboutdata %}
   
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src=" {% static 'js/index.js' %} "></script>

  </div>
</body>
<script>
    offset = 0;
    setInterval(() => {
        offset = offset + 0.2;
        document.querySelector(".slides").scrollTo(offset, 0);
    }, 10);
    AOS.init();
    $(document).ready(function () {
        $('.toggler').click(function () {
            $(this).siblings().removeClass("active");
            $(this).toggleClass("active");

        })

    });
</script>
{% endwith %}
</html>