<div class="m-auto  col-md-3 infinite-item" style="padding: 0;">
    <div class="card mx-2">
        <div style="height: 350px;" class="check-up-card">
            <span class="discount">{{data.discount}}{% if '%' not in data.discount %}₹{% endif %} off</span>
            <h4>{{data.test_name}}</h4>
            Includes : {{data.Porfile_collection.count}} Parameter
            <ul>
                <li>{{data.test_name}}</a> </li>
            </ul>
            <br>
            <b>
                <a href="{% url "testdetails" data.slug %}">+ Know More</a><br>
                <del>₹{{data.test_price}}</del>
                ₹{{data.final_cost}}
            </b>
        </div>
    </div>
</div>

