{% extends 'basic.html' %}
{% load static %}
{% block body %}
     <div class="container">
         <h1 class="text-center title">Welcome to SEQUEL!</h1>
         <div class="login-container container">
             <div class="row">
                 <div class="col-lg-6">
                     <div id="carouselExampleIndicators" style="height: 100%;"  class="carousel slide" data-ride="carousel">
                         <ol class="carousel-indicators">
                             <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                             <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                             <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                             <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                             <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
 
                         </ol>
                         <div class="carousel-inner">
                             <div class="carousel-item active">
                                 <div class="img-main">
                                     <img class="d-block m-auto" src=" {% static 'images/boxicon.png' %} ">
                                     <h1 class="text-center">Custamize</h1>
                                 </div>
                             </div>
                             <div class="carousel-item">
                                 <div class="img-main">
                                     <img class="d-block m-auto" src=" {% static 'images/cost-effective.png' %} ">
                                     <h1 class="text-center">Cost Effective</h1>
                                 </div>
                             </div>
                             <div class="carousel-item">
                                 <div class="img-main">
                                     <img class="d-block m-auto" src=" {% static 'images/Convenient.png' %} ">
                                     <h1 class="text-center">Convenient</h1>
                                 </div>
                             </div>
                             <div class="carousel-item">
                                 <div class="img-main">
                                     <img class="d-block m-auto" src=" {% static 'images/timer.png' %} ">
                                     <h1 class="text-center">Carefree</h1>
                                 </div>
                             </div>
                             <div class="carousel-item">
                                 <div class="img-main">
                                     <img class="d-block m-auto" src=" {% static 'images/complete.png' %} ">
                                     <h1 class="text-center">Complete</h1>
                                 </div>
                             </div>
                         </div>
                         <a class="carousel-control-prev" href=" {% static '#carouselExampleIndicators' %} " role="button"
                             data-slide="prev">
                             <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                             <span class="sr-only">Previous</span>
                         </a>
                         <a class="carousel-control-next" href=" {% static '#carouselExampleIndicators' %} " role="button"
                             data-slide="next">
                             <span class="carousel-control-next-icon" aria-hidden="true"></span>
                             <span class="sr-only">Next</span>
                         </a>
                     </div>
                 </div>
                 <div class="col-lg-6" style="padding: 10px 15px 0 15px;">
                     <h3>Fill The Details</h3> 
                     <form action="{% url "registration" %}" method="post">
                         <div class="col-12">
                             {% csrf_token %}
                             <label>Name</label>
                             <input type="text" name="name" placeholder="Enter your Name" id="nameinput" oninvalid="this.setCustomValidity('Please Enter valid name')" required>
                             <div class="text-danger" id="nameerror"></div>
                             <label>Email Id</label>
                             <input type="email" name="email" oninvalid="this.setCustomValidity('This mail is invalid')" placeholder="Enter your Email" id="" required>
                             <label>Gender</label>
                             <input type="radio" name="gender" id="mail" value="male" required> <label for="mail" >Male</label> <input type="radio" name="gender" id="female" value="female" required> <label for="female">Female</label> <br>
                             <label>Date Of Birth</label>
                             <input type="date" name="dob" id="dob"  required>
                             <input type="submit" value="Register">
                         </div>
                     </form>
                 </div>
             </div>
         </div>
     </div>
 
     <br><br>
     <script>
     </script>
 {% endblock     %}
 {% block basicscript %}{% endblock %}